Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

gnatformat:
  name: Format GNATcheck sources
  entry: gnatformat
  language: system

maven-spotless:
  name: Format LKQL JIT sources
  entry: python
  args:
  - utils/maven_wrapper.py
  - spotless:apply
  language: system
  pass_filenames: false
  require_serial: true

lkql_checker: rename gnatcheck package to lkql_checker
  Makefile
  lkql_checker/doc/share/conf.py
  lkql_checker/lkql_checker.gpr
  lkql_checker/src/lkql_checker-compiler.adb
  lkql_checker/src/lkql_checker-compiler.ads
  lkql_checker/src/lkql_checker-diagnoses.adb
  lkql_checker/src/lkql_checker-diagnoses.ads
  lkql_checker/src/lkql_checker-ids.ads
  lkql_checker/src/lkql_checker-json_utilities.adb
  lkql_checker/src/lkql_checker-json_utilities.ads
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-output.adb
  lkql_checker/src/lkql_checker-output.ads
  lkql_checker/src/lkql_checker-projects-aggregate.adb
  lkql_checker/src/lkql_checker-projects-aggregate.ads
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-projects.ads
  lkql_checker/src/lkql_checker-rules-rule_table.adb
  lkql_checker/src/lkql_checker-rules-rule_table.ads
  lkql_checker/src/lkql_checker-rules.adb
  lkql_checker/src/lkql_checker-rules.ads
  lkql_checker/src/lkql_checker-source_table.adb
  lkql_checker/src/lkql_checker-source_table.ads
  lkql_checker/src/lkql_checker-string_utilities.adb
  lkql_checker/src/lkql_checker-string_utilities.ads
  lkql_checker/src/lkql_checker.ads
  lkql_checker/src/main.adb
Due: gnatformat

lkql_checker: rename Gnatcheck_Reporter to Lkql_Checker_Reporter
  lkql_checker/src/lkql_checker-projects.adb
Due: gnatformat

lkql_checker: update Lkql_Checker_Version value and comment
  lkql_checker/src/lkql_checker-options.ads
Due: gnatformat

lkql_checker: rename Gnatcheck_Prj to Checker_Prj
  lkql_checker/src/lkql_checker-compiler.adb
  lkql_checker/src/lkql_checker-diagnoses.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-rules-rule_table.adb
  lkql_checker/src/lkql_checker-source_table.adb
  lkql_checker/src/main.adb
Due: gnatformat

lkql_checker: rename Gnatcheck_Error_Handler to Lkql_Checker_Error_Handler
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
Due: gnatformat

Fix the 'positional_components' auto fixing function to emit valid node types
  lkql_checker/share/lkql/positional_components.lkql
Due: none

Remove useless UnfilteredPattern class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/BindingPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/FilteredPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/UnfilteredPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/ValuePattern.java
Due: maven-spotless

Simplify evaluation of rule arguments
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
Due: maven-spotless

Use LangkitSupport.Node for SourceSectionWrapper
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/source_location/SourceSectionWrapper.java
Due: maven-spotless

rename scriptFrames -> frames
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
Due: maven-spotless

Simplify LKQL Truffle nodes for patterns
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/framing_utils/ScriptFrames.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/framing_utils/ScriptFramesBuilder.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Query.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/match/MatchArm.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/IsClause.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/BindingPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/BoolPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/FilteredPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/IntegerPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/ListPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/NotPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/NullPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/ObjectPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/OrPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/ParenPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/Pattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/RegexPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/SelectorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/SplatPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/TuplePattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/UniversalPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/ValuePattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/ExtendedNodePattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodeKindPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternField.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternSelector.java
Due: maven-spotless

Refactor builtIn lookup
  lkql_jit/builtins_annotations/src/main/java/com/adacore/lkql_jit/annotations/BuiltInProcessor.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/FramingPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/framing_utils/ScriptFrames.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/framing_utils/ScriptFramesBuilder.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/GlobalScope.java
Due: maven-spotless

Allow the val _ = ignore() pattern
  lkql/lkql.lkt
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/FramingPass.java
  testsuite/tests/interpreter/val_underscore/script.lkql
  testsuite/tests/interpreter/val_underscore/test.out
  testsuite/tests/interpreter/val_underscore/test.yaml
Due: maven-spotless

Introduce the Lkt syntax path
  lkql_jit/language/pom.xml
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLLanguage.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/utils/CheckerUtils.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/BaseTranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/framing_utils/ScriptFrames.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/framing_utils/ScriptFramesBuilder.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/arguments/Arg.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/block_expression/BlockBody.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/block_expression/BlockExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/DynamicNodeKindPattern.java
  lkql_jit/pom.xml
Due: maven-spotless

Fix native image build
  lkql_jit/standalone/make_native.py
Due: none

Style: Fix casing on type name
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLRefactor.java
Due: maven-spotless

Remove "to-lkt" option from interpreter
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/BaseLKQLChecker.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLLauncher.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLLanguage.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/LKQLOptions.java
  testsuite/drivers/interpreter_driver.py
  testsuite/tests/interpreter/val_expr/test.out
  testsuite/tests/interpreter/val_expr/test.yaml
Due: maven-spotless

Fix: BlockExpr translation
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

Introduce the lkql -> lkt syntax translator
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/BaseLKQLChecker.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLLauncher.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLRefactor.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLLanguage.java
  lkql_jit/options/pom.xml
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/LKQLOptions.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/LKQLToLkt.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/Refactoring.java
  testsuite/drivers/interpreter_driver.py
  testsuite/tests/interpreter/val_expr/test.out
  testsuite/tests/interpreter/val_expr/test.yaml
Due: maven-spotless

lkql_jit: update after recent Libadalang API changes
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
Due: maven-spotless

Rename detector to follow convention.
  lkql_checker/share/lkql/kp/kp_19997.lkql
Due: none

Rework of the "lkt_refactor" interpreter test flag
  testsuite/drivers/interpreter_driver.py
  testsuite/tests/interpreter/big_ints/test.yaml
  testsuite/tests/interpreter/binop_add/test.yaml
  testsuite/tests/interpreter/binop_and/test.yaml
  testsuite/tests/interpreter/binop_div/test.yaml
  testsuite/tests/interpreter/binop_geq/test.yaml
  testsuite/tests/interpreter/binop_gt/test.yaml
  testsuite/tests/interpreter/binop_leq/test.yaml
  testsuite/tests/interpreter/binop_lt/test.yaml
  testsuite/tests/interpreter/binop_mul/test.yaml
  testsuite/tests/interpreter/binop_neq/test.yaml
  testsuite/tests/interpreter/binop_or/test.yaml
  testsuite/tests/interpreter/binop_sub/test.yaml
  testsuite/tests/interpreter/block_strings/test.yaml
  testsuite/tests/interpreter/builtin_default_value/test.yaml
  testsuite/tests/interpreter/combine/test.yaml
  testsuite/tests/interpreter/func_eval_add/test.yaml
  testsuite/tests/interpreter/func_named_args/test.yaml
  testsuite/tests/interpreter/func_nested_call/test.yaml
  testsuite/tests/interpreter/method_reference/test.yaml
  testsuite/tests/interpreter/non_ambiguous_import/test.yaml
  testsuite/tests/interpreter/not/test.yaml
  testsuite/tests/interpreter/properties_returning_char/test.yaml
  testsuite/tests/interpreter/properties_returning_enum_values/test.yaml
  testsuite/tests/interpreter/regex_find/test.yaml
  testsuite/tests/interpreter/regex_pattern/test.yaml
  testsuite/tests/interpreter/str_length/test.yaml
  testsuite/tests/interpreter/string_builtins/test.yaml
  testsuite/tests/interpreter/string_literal/test.yaml
  testsuite/tests/interpreter/val_expr/test.out
  testsuite/tests/interpreter/val_underscore/test.yaml
Due: none

positional_parameters.lkql: Remove the unused 'node' parameter to the 'check_actual_param' function
  lkql_checker/share/lkql/positional_parameters.lkql
Due: none

positional_parameters.lkql: Reformat the file
  lkql_checker/share/lkql/positional_parameters.lkql
Due: none

Enhance the 'positional_parameters' rule
  lkql_checker/doc/generated/predefined_rules.rst
  lkql_checker/share/lkql/positional_parameters.lkql
  lkql_checker/share/lkql/stdlib.lkql
  testsuite/tests/checks/positional_parameters/pack.ads
  testsuite/tests/checks/positional_parameters/pos.adb
  testsuite/tests/checks/positional_parameters/test.out
  user_manual/generated/stdlib.rst
Due: none

Preload libjsig when running lkql_jit in JVM mode on Linux
  lkql_jit/cli/pom.xml
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLMain.java
  lkql_jit/standalone/lkql.py
Due: maven-spotless

cli/pom.xml: Ensure the version of liblkqllang the module depends on is alligned with the whole project
  lkql_jit/cli/pom.xml
Due: none

Add detector for KP 20113
  lkql_checker/share/lkql/kp/kp_20113.lkql
  testsuite/tests/checks/KP-20113/prj.gpr
  testsuite/tests/checks/KP-20113/test.out
  testsuite/tests/checks/KP-20113/test.yaml
  testsuite/tests/checks/KP-20113/with_use_vads.adb
  testsuite/tests/checks/KP-20113/with_use_vads.ads
  testsuite/tests/checks/KP-20113/without_use_vads.adb
Due: none

Add detector for KP 20113
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Add detector for KP 20186
  lkql_checker/share/lkql/kp/kp_20186.lkql
  testsuite/tests/checks/KP-20186/main.ads
  testsuite/tests/checks/KP-20186/prj.gpr
  testsuite/tests/checks/KP-20186/test.out
  testsuite/tests/checks/KP-20186/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Reorganize refactorings
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLRefactor.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/LKQLToLkt.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/Refactoring.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/TokenBasedRefactoring.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/TreeBasedRefactoring.java
  testsuite/tests/interpreter/combine/test.yaml
  testsuite/tests/interpreter/int_pattern/test.yaml
  testsuite/tests/interpreter/properties_returning_char/test.yaml
  testsuite/tests/interpreter/properties_returning_enum_values/test.yaml
  testsuite/tests/interpreter/regex_pattern/test.yaml
Due: maven-spotless

Implement selector translation
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/LKQLToLkt.java
  testsuite/drivers/refactor_driver.py
  testsuite/tests/refactor/selectors/input.lkql
  testsuite/tests/refactor/selectors/test.out
  testsuite/tests/refactor/selectors/test.yaml
Due: maven-spotless

Refactoring: make usage of Java Streams
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLRefactor.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/Refactoring.java
Due: maven-spotless

Fix: casing on enum ActionKind
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/Refactoring.java
Due: maven-spotless

Refactor LKQLToLkt class
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLRefactor.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/LKQLToLkt.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/Refactoring.java
Due: maven-spotless

Remove unused methods
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/LKQLToLkt.java
Due: maven-spotless

Refactoring: change some methods to private
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/Refactoring.java
Due: maven-spotless

Fix the 'repeat' built-in repeating node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
Due: maven-spotless

Add detector for KP-20112
  lkql_checker/share/lkql/kp/kp_20112.lkql
  testsuite/tests/checks/KP-20112/prj.gpr
  testsuite/tests/checks/KP-20112/test.ads
  testsuite/tests/checks/KP-20112/test.out
  testsuite/tests/checks/KP-20112/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Move the 'Iterator' interface to the 'values' package
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/built_ins/UnitCheckerFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Query.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/list_comprehension/ListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/InClause.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/SelectorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/interfaces/Iterable.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/interfaces/Iterator.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/iterators/LKQLIterator.java
Due: maven-spotless

Path conditions:
  gnatformat: any of: ^lkql_checker/src/.*\.ad(b|s)$
  maven-spotless: any of: ^lkql_jit/.*\.java$
