Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

gnatformat:
  name: Format GNATcheck sources
  entry: gnatformat
  language: system

maven-spotless:
  name: Format LKQL JIT sources
  entry: python
  args:
  - utils/maven_wrapper.py
  - spotless:apply
  language: system
  pass_filenames: false
  require_serial: true

Add a test in the case of an invalid LKQL version
  testsuite/tests/interpreter_errors/invalid_lkql_version/not_an_int/script.lkql
  testsuite/tests/interpreter_errors/invalid_lkql_version/not_an_int/test.out
  testsuite/tests/interpreter_errors/invalid_lkql_version/not_an_int/test.yaml
  testsuite/tests/interpreter_errors/invalid_lkql_version/unknown_version/script.lkql
  testsuite/tests/interpreter_errors/invalid_lkql_version/unknown_version/test.out
  testsuite/tests/interpreter_errors/invalid_lkql_version/unknown_version/test.yaml
Due: none

Add support to handle polyglot exceptions in 'DiagnosticCollector'
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/checker/CheckerRun.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/checker/RuleRepository.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/DiagnosticCollector.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/TextReportCreator.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/variants/BaseDiagnostic.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/variants/RawMessage.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/source_support/SourceSection.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/BaseLKQLChecker.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/BaseSubcommand.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLPasses.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLRun.java
Due: maven-spotless

Add support for Polyglot exceptions in the 'GNATcheckWorker'
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/GNATCheckWorker.java
Due: maven-spotless

Now use the 'spotless-prettier' maven-repo in CI formatting phase
  .gitlab-ci.yml
Due: none

Introduce the 'get_unit' built-in function
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  testsuite/tests/interpreter/builtins/get_unit/script.lkql
  testsuite/tests/interpreter/builtins/get_unit/test.out
  testsuite/tests/interpreter/builtins/get_unit/test.yaml
Due: maven-spotless

Enhance the 'default_bit_order' stdlib function
  lkql/lib/stdlib.lkql
Due: none

Ensure GNATcheck and GNATKP access their own worker over others
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Make ListComprehension truly lazy
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/list_comprehension/ListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLListComprehension.java
  testsuite/tests/interpreter/iterators/script.lkql
Due: maven-spotless

Remove size from Iterable interface
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interfaces/Iterable.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCollection.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Query.java
Due: maven-spotless

Remove LKQLList.getSlice method
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/ListPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLList.java
Due: maven-spotless

Make unique builtin return a LazyList
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/ArrayUtils.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLUniqueResult.java
  testsuite/tests/interpreter/builtins/unique/script.lkql
Due: maven-spotless

Remove IndirectCallNode
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLQueryComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLSelectorList.java
Due: maven-spotless

Remove dependency on size from LKQLSelectorList
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/SelectorCall.java
Due: maven-spotless

Make enumerate primitive work with LazyList
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLEnumerateResult.java
  testsuite/tests/interpreter/builtins/enumerate/script.lkql
  testsuite/tests/interpreter/builtins/enumerate/test.out
Due: maven-spotless

Remove Iterable.length method
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/ListMethods.java
  testsuite/tests/interpreter/builtins/length/script.lkql
  testsuite/tests/interpreter/full_pattern_binding_query_0/script.lkql
  testsuite/tests/interpreter/stdlib_in_generic_template/script.lkql
  testsuite/tests/interpreter/streams/script.lkql
Due: maven-spotless

Remove getContent from Indexable interface
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interfaces/Indexable.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCollection.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLTuple.java
Due: maven-spotless

Remove SELECTOR_LIST type helper
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/LKQLTypesHelper.java
Due: maven-spotless

Rename Collection to List and List to ArrayList
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/BaseLKQLChecker.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLDynamicObject.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLTypeSystem.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/AnalysisUnitMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/ListMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/NodeMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/RewritingContextMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/StrMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/selector/RecExprs.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Expr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/LKQLToBoolean.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Query.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/literals/ListLiteral.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/literals/ObjectLiteral.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/BinEq.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamConcat.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/ListPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/utils/ConcatenationNode.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/LKQLTypesHelper.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/ReflectionUtils.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLNamespace.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLObject.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/iterators/LKQLListIterator.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLArrayList.java
Due: maven-spotless

Rework LKQLConsStream to share cache
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamConcat.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamCons.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLConsStream.java
Due: maven-spotless

Split LKQLStream from LKQLCollection
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/checker/CheckerRun.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLStream.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLTypeSystem.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/selector/RecExprs.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/ConstructorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Expr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/LKQLToBoolean.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/list_comprehension/ListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamConcat.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamCons.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/LKQLTypesHelper.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/iterators/BaseLKQLListIterator.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/BaseLKQLLazyList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLConsStream.java
  testsuite/tests/interop/list_comp/Main.java
  testsuite/tests/interop/list_comp/test.out
  testsuite/tests/interop/selector/Main.java
  testsuite/tests/interop/selector/test.out
  testsuite/tests/interpreter/builtins/map/test.out
  testsuite/tests/interpreter/general_purpose_selectors/test.out
Due: maven-spotless

Reorganize LazyList classes
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/QueryComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/list_comprehension/ListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/BinEq.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamConcat.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamCons.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/SelectorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLSelector.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/iterators/LKQLStreamIterator.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/BaseCachedStream.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLConsStream.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLEnumerateResult.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLFlattenResult.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLMapResult.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLQueryComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLSelectorList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLStdlibStreamWrapper.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLUniqueResult.java
Due: maven-spotless

Add Stream.length builtin method
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/StreamMethods.java
  testsuite/tests/interpreter/builtins/length/script.lkql
  testsuite/tests/interpreter/builtins/length/test.out
Due: maven-spotless

Enhance testing of the 'get_unit' built-in
  testsuite/tests/interpreter/builtins/get_unit/prj.gpr
  testsuite/tests/interpreter/builtins/get_unit/script.lkql
  testsuite/tests/interpreter/builtins/get_unit/src/main.adb
  testsuite/tests/interpreter/builtins/get_unit/src/other.adb
  testsuite/tests/interpreter/builtins/get_unit/test.out
  testsuite/tests/interpreter/builtins/get_unit/test.yaml
Due: none

Remove the 'withed_projects' file from the lkql spec
  lkql/extensions/withed_projects
Due: none

Add a run of the GNATcheck testsuite with the 'private' qualifier
  .gitlab-ci.plan
Due: none

Add an optional run of the GNATcheck internal testsuite in the CI
  .gitlab-ci.plan
  .gitlab-ci.yml
Due: none

Make sure instance string args are escaped
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/GNATCheckWorker.java
Due: maven-spotless

Add EmptyStream
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLConsStream.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLEmptyStream.java
  testsuite/tests/interpreter/streams/script.lkql
  testsuite/tests/interpreter_errors/empty_stream_errors/head/script.lkql
  testsuite/tests/interpreter_errors/empty_stream_errors/head/test.out
  testsuite/tests/interpreter_errors/empty_stream_errors/head/test.yaml
  testsuite/tests/interpreter_errors/empty_stream_errors/tail/script.lkql
  testsuite/tests/interpreter_errors/empty_stream_errors/tail/test.out
  testsuite/tests/interpreter_errors/empty_stream_errors/tail/test.yaml
Due: maven-spotless

Fix cache sharing of LKQLConsStream
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLConsStream.java
Due: maven-spotless

Add head and tail builtins to Stream
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/StreamMethods.java
  testsuite/tests/interpreter/ada_get_aspect/test.yaml
  testsuite/tests/interpreter/builtins/to_list/test.yaml
  testsuite/tests/interpreter/builtins/unique/test.yaml
  testsuite/tests/interpreter/properties_returning_enum_values/test.yaml
  testsuite/tests/interpreter/streams/script.lkql
  testsuite/tests/interpreter/streams/test.out
Due: maven-spotless

Make StreamConcat work only on LKQLStream as lhs
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamConcat.java
  testsuite/tests/interpreter/streams/script.lkql
Due: maven-spotless

Simplify inner structure of BaseCachedStream
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/BaseCachedStream.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLConsStream.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLEnumerateResult.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLFlattenResult.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLMapResult.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLQueryComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLSelectorList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLStdlibStreamWrapper.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLUniqueResult.java
Due: maven-spotless

Throw exceptions when accessing an empty stream
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/exceptions/LKQLRuntimeError.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/BaseCachedStream.java
Due: maven-spotless

Add Iterable.to_stream method
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/streams/LKQLArrayStream.java
Due: maven-spotless

minor: Correct a typo
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/checker/CheckerRun.java
Due: maven-spotless

Adapt the LKQL engine to the new LangkitSupport reflection API
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/BaseTranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/Hierarchy.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/PassContext.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/ConstructorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/ReflectionUtils.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLProperty.java
Due: maven-spotless

Add support for dot acccess on rewriting nodes
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/dot/DotAccess.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/ReflectionUtils.java
  testsuite/tests/interpreter/rewriting_nodes/script.lkql
  testsuite/tests/interpreter/rewriting_nodes/test.out
  testsuite/tests/interpreter/rewriting_nodes/test.yaml
Due: maven-spotless

Lkt frontend: Add destructuring support for struct patterns
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/exceptions/LKQLStaticErrors.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  testsuite/tests/interpreter/struct_patterns/script.lkql
  testsuite/tests/interpreter_errors/struct_pattern/bad_arity/script.lkql
  testsuite/tests/interpreter_errors/struct_pattern/bad_arity/test.out
  testsuite/tests/interpreter_errors/struct_pattern/bad_arity/test.yaml
  testsuite/tests/interpreter_errors/struct_pattern/both_destructuring_and_field_details/script.lkql
  testsuite/tests/interpreter_errors/struct_pattern/both_destructuring_and_field_details/test.out
  testsuite/tests/interpreter_errors/struct_pattern/both_destructuring_and_field_details/test.yaml
  testsuite/tests/interpreter_errors/struct_pattern/non_struct/script.lkql
  testsuite/tests/interpreter_errors/struct_pattern/non_struct/test.out
  testsuite/tests/interpreter_errors/struct_pattern/non_struct/test.yaml
  testsuite/tests/interpreter_errors/struct_pattern/unknown_field/script.lkql
  testsuite/tests/interpreter_errors/struct_pattern/unknown_field/test.out
  testsuite/tests/interpreter_errors/struct_pattern/unknown_field/test.yaml
  testsuite/tests/interpreter_errors/struct_pattern_bad_field/test.out
Due: maven-spotless

Make 'LKQLNull' override the 'walk' method
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLNull.java
Due: maven-spotless

Path conditions:
  gnatformat: any of: ^lkql_checker/src/.*\.ad(b|s)$
  maven-spotless: any of: ^lkql_jit/.*\.java$
