Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gnatformat
        name: Format GNATcheck sources
        entry: gnatformat
        language: system
        files: "^lkql_checker/src/.*\\.ad(b|s)$"

  - repo: local
    hooks:
      - id: maven-spotless
        name: Format LKQL JIT sources
        entry: python
        args:
          - utils/maven_wrapper.py
          - spotless:apply
        language: system
        pass_filenames: false
        require_serial: true
        files: "^lkql_jit/.*\\.java$"

  - repo: https://github.com/ambv/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black-24.10.0

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8

Forward 'PROCS' when possible
  Makefile
Due: none

Always use the 'GPRBUILD' variable to spawn 'gprbuild'
  Makefile
Due: none

Simplify Lkm command and arguments computing
  Makefile
Due: none

Update .gitignore to ignore generated doc files
  .gitignore
Due: none

Rename 'build_lkql_native_jit' target into 'lkql_jit'
  Makefile
Due: none

Rework the 'lkql' target
  Makefile
Due: none

Ensure all paths are escaped in the Makefile
  Makefile
Due: none

Remove 'NPMRC' and 'NPM_INSTALL_CACHE' Makefile variable
  Makefile
Due: none

Change order of targets to be more clear
  Makefile
Due: none

Remove generated documentation from the repo
  lkql_checker/doc/generated/list_of_rules.rst
  lkql_checker/doc/generated/predefined_rules.rst
  user_manual/generated/std.rst
  user_manual/generated/stdlib.rst
Due: none

minor: Rename 'gnatcheck' target into 'lkql_checker'
  Makefile
Due: none

Remove 'doc' from the 'all' dependencies
  Makefile
Due: none

Update test baselines following the 'finally' part support in Libadalang
  testsuite/tests/interpreter/builtins/to_list/test.out
  testsuite/tests/nanopass/multiple_passes/test.out
  testsuite/tests/nanopass/property_call/test.out
  testsuite/tests/nanopass/simple_rewrite/test.out
Due: none

Fallback on a 'dumb' terminal when failing to create a system one
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLLauncher.java
Due: maven-spotless

Update baselines following partial formatting improvement.
  testsuite/tests/checks/binary_case_statements/test.out
  testsuite/tests/checks/binary_case_statements_enums/test.out
  testsuite/tests/checks/bool_negations/test.out
  testsuite/tests/checks/default_values_for_record_components/test.out
  testsuite/tests/checks/membership_for_validity/test.out
  testsuite/tests/checks/no_closing_names/test.out
  testsuite/tests/checks/positional_components/test.out
  testsuite/tests/checks/positional_defaulted_generic_params/test.out
  testsuite/tests/checks/positional_defaulted_params/test.out
  testsuite/tests/checks/positional_generic_parameters/test.out
  testsuite/tests/checks/positional_parameters/test.out
  testsuite/tests/checks/redundant_boolean_expressions/test.out
  testsuite/tests/checks/silent_exception_handlers/test.out
  testsuite/tests/checks/uninitialized_global/test.out
  testsuite/tests/checks/use_for_of_loops/test.out
  testsuite/tests/checks/use_if_expressions/test.out
  testsuite/tests/checks/use_memberships/test.out
  testsuite/tests/checks/use_record_aggregates/test.out
  testsuite/tests/checks/use_simple_loops/test.out
  testsuite/tests/checks/use_while_loops/test.out
  testsuite/tests/rewriting/display/test.out
  testsuite/tests/rewriting/new_file/test.out
  testsuite/tests/rewriting/patch_file/test.out
  testsuite/tests/rewriting/rewriting_api/add_first/test.out
  testsuite/tests/rewriting/rewriting_api/add_last/test.out
  testsuite/tests/rewriting/rewriting_api/create_from_template/test.out
  testsuite/tests/rewriting/rewriting_api/insert_after/test.out
  testsuite/tests/rewriting/rewriting_api/insert_before/test.out
  testsuite/tests/rewriting/rewriting_api/replace/test.out
  testsuite/tests/rewriting/rewriting_api/set_child/test.out
Due: none

Fix formatting of bool_negations.
  testsuite/tests/checks/bool_negations/proc2.adb
  testsuite/tests/checks/bool_negations/test.out
Due: none

Add detector for KP 20273
  lkql_checker/share/lkql/kp/kp_20273.lkql
  testsuite/tests/checks/KP-20273/main.adb
  testsuite/tests/checks/KP-20273/prj.gpr
  testsuite/tests/checks/KP-20273/test.out
  testsuite/tests/checks/KP-20273/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Improve rule duplicates handling
  lkql_checker/src/lkql_checker-rules-rule_table.adb
  lkql_checker/src/lkql_checker-rules.adb
  lkql_checker/src/lkql_checker-rules.ads
  testsuite/tests/gnatcheck_errors/same_name_instances/rules.lkql
  testsuite/tests/gnatcheck_errors/same_name_instances/test.out
  testsuite/tests/gnatcheck_errors/same_name_instances/test.yaml
Due: gnatformat

gnatcheck test driver: canonicalize temporary rules file slocs
  testsuite/drivers/gnatcheck_driver.py
  testsuite/tests/gnatcheck_errors/same_name_instances/test.out
  testsuite/tests/gnatcheck_errors/same_name_instances/test.yaml
Due: none

Add detector for KP 20149
  lkql_checker/share/lkql/kp/kp_20149.lkql
  testsuite/tests/checks/KP-20149/main.adb
  testsuite/tests/checks/KP-20149/prj.gpr
  testsuite/tests/checks/KP-20149/test.out
  testsuite/tests/checks/KP-20149/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Fix rules after Libadalang update
  lkql_checker/share/lkql/kp/kp_19625.lkql
  lkql_checker/share/lkql/positional_parameters.lkql
Due: none

gnatcheck test driver: make the version suffix optional
  testsuite/drivers/gnatcheck_driver.py
Due: none

Remove ValuePattern abstract class
  lkql/lkql.lkt
Due: none

Remove useless components in the 'Rule_Command' record
  lkql_checker/src/rule_commands.adb
  lkql_checker/src/rule_commands.ads
Due: gnatformat

Flatten AST for patterns
  lkql/build/railroad-diagrams/complex_pattern.svg
  lkql/build/railroad-diagrams/list_pattern.svg
  lkql/build/railroad-diagrams/pattern.svg
  lkql/build/railroad-diagrams/tuple_pattern.svg
  lkql/build/railroad-diagrams/value_pattern.svg
  lkql/lkql.lkt
  lkql_checker/share/lkql/identifier_prefixes.lkql
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/FramingPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  testsuite/tests/parser/annotated_fun/test.out
  testsuite/tests/parser/fun_no_args/test.out
  testsuite/tests/parser/is_clause_0/test.out
  testsuite/tests/parser/match_expr/test.out
  testsuite/tests/parser/paren_or_pattern/test.out
  testsuite/tests/parser/query_0/test.out
  testsuite/tests/parser/query_1/test.out
  testsuite/tests/parser/query_binding/test.out
  testsuite/tests/parser/query_full_pattern/test.out
  testsuite/tests/parser/query_quantified_selector/test.out
  testsuite/tests/parser/selector/test.out
  testsuite/tests/parser/through_select/test.out
  testsuite/tests/parser/universal_pattern/test.out
  testsuite/tests/parser_errors/multiple_bind_pattern/input
  testsuite/tests/parser_errors/multiple_bind_pattern/test.out
  testsuite/tests/parser_errors/multiple_bind_pattern/test.yaml
  testsuite/tests/parser_errors/multiple_when_pattern/input
  testsuite/tests/parser_errors/multiple_when_pattern/test.out
  testsuite/tests/parser_errors/multiple_when_pattern/test.yaml
Due: maven-spotless

Add any/all as builtins
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
Due: maven-spotless

Refactoring for selector patterns
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/LKQLToLkt.java
  testsuite/tests/interpreter/from_select/test.yaml
  testsuite/tests/interpreter/full_pattern_binding_query_0/script.lkql
  testsuite/tests/interpreter/full_pattern_binding_query_0/test.yaml
  testsuite/tests/interpreter/full_pattern_query_0/script.lkql
  testsuite/tests/interpreter/full_pattern_query_0/test.yaml
  testsuite/tests/interpreter/is_query/script.lkql
  testsuite/tests/interpreter/is_query/test.yaml
  testsuite/tests/interpreter/node_pattern_query_0/script.lkql
  testsuite/tests/interpreter/node_pattern_query_0/test.yaml
  testsuite/tests/interpreter/node_query_derived_type/script.lkql
  testsuite/tests/interpreter/node_query_derived_type/test.yaml
  testsuite/tests/interpreter/parametrized_quantifier/test.yaml
  testsuite/tests/interpreter/quantified_selector/script.lkql
  testsuite/tests/interpreter/quantified_selector/test.yaml
  testsuite/tests/interpreter/universal_pattern_query/script.lkql
  testsuite/tests/interpreter/universal_pattern_query/test.yaml
  testsuite/tests/refactor/selector_patterns/input.lkql
  testsuite/tests/refactor/selector_patterns/test.out
  testsuite/tests/refactor/selector_patterns/test.yaml
Due: maven-spotless

Move the 'IteratorUtils.toStream' function in the 'TranslationPass' class
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/IterationUtils.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
Due: maven-spotless

Move the 'refactorings' package in the 'cli' module
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLRefactor.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/refactorings/LKQLToLkt.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/refactorings/Refactoring.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/refactorings/TokenBasedRefactoring.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/refactorings/TreeBasedRefactoring.java
Due: maven-spotless

Rename the 'Refactorings' package into 'refactorings'
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLRefactor.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/refactorings/LKQLToLkt.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/refactorings/Refactoring.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/refactorings/TokenBasedRefactoring.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/refactorings/TreeBasedRefactoring.java
Due: maven-spotless

Move the 'Constants' class in the 'interoperability' module
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/BaseLKQLChecker.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/GNATCheckWorker.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLDocAPI.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLDocRules.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLLauncher.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLPasses.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/Constants.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLLanguage.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/FramingPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/TopLevelList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/CheckerExport.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/FunctionDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/Import.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/selector/SelectorDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Indexing.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/dot/DotAccess.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/dot/DotAccessWrapper.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/BinEq.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/value_read/ReadClosure.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/ObjectPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/SelectorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternField.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/utils/ValueCombiner.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLNamespace.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLObject.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLTuple.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/BaseLKQLList.java
Due: maven-spotless

Rename the 'options' module into 'interoperability'
  lkql_jit/cli/pom.xml
  lkql_jit/interoperability/pom.xml
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/IterationUtils.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/JSONUtils.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/LKQLOptions.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/Refactorings/LKQLToLkt.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/Refactorings/Refactoring.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/Refactorings/TokenBasedRefactoring.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/Refactorings/TreeBasedRefactoring.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/RuleInstance.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/options/package-info.java
  lkql_jit/language/pom.xml
  lkql_jit/pom.xml
Due: maven-spotless

Add Truffle DSL processing for the 'interoperability' module
  lkql_jit/interoperability/pom.xml
Due: none

Move the 'ClosureDescriptor' class into the 'framing_utils' package
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/framing_utils/ClosureDescriptor.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/framing_utils/ScriptFrames.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/selector/SelectorDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/QueryComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/list_comprehension/ListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/BaseStreamOp.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamConcat.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamCons.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/utils/CreateClosureNode.java
Due: maven-spotless

Create an interop value to represents all LKQL collections
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCollection.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLDynamicObject.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/Utils.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLTypeSystem.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/selector/RecExprs.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/LKQLToBoolean.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamConcat.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/StringUtils.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLNamespace.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLObject.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/iterators/BaseLKQLListIterator.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/BaseLKQLLazyList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLStream.java
Due: maven-spotless

Move module documentation generation in the 'cli' module
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLDocAPI.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/tools/TextWriter.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCallable.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
Due: maven-spotless

Add a 'profile' method in 'LKQLCallable' to replace all specific methods
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCallable.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLSelector.java
  testsuite/tests/interpreter/builtins/profile/test.out
Due: maven-spotless

minor: Move methods to the right place in the 'LKQLFunction' class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLFunction.java
Due: maven-spotless

Create a base class for namespaces
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLBaseNamespace.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLNamespace.java
Due: maven-spotless
