Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

gnatformat:
  name: Format GNATcheck sources
  entry: gnatformat
  language: system

maven-spotless:
  name: Format LKQL JIT sources
  entry: python
  args:
  - utils/maven_wrapper.py
  - spotless:apply
  language: system
  pass_filenames: false
  require_serial: true

Remove the '--subprocess' argument from parsing because it is now useless
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Add support for the '-vP' CLI switch
  lkql_checker/doc/gnatcheck_rm/using_gnatcheck.rst
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-projects.ads
  testsuite/drivers/gnatcheck_driver.py
  testsuite/tests/gnatcheck/project_verbosity/prj.gpr
  testsuite/tests/gnatcheck/project_verbosity/src/main.adb
  testsuite/tests/gnatcheck/project_verbosity/test.out
  testsuite/tests/gnatcheck/project_verbosity/test.yaml
  testsuite/tests/gnatcheck_errors/invalid_project_verbosity/test.out
  testsuite/tests/gnatcheck_errors/invalid_project_verbosity/test.yaml
  testsuite/tests/gnatcheck_errors/wrong_runtime/linux/test.out
  testsuite/tests/gnatcheck_errors/wrong_runtime/windows/test.out
  testsuite/tests/gnatcheck_errors/wrong_target/test.out
Due: gnatformat

Disallow '--no-subprojects' flag in project files
  lkql_checker/doc/gnatcheck_rm/using_gnatcheck.rst
  lkql_checker/src/gnatcheck-options.adb
Due: gnatformat

Migrate the '-v, --verbose' flag to Opt_Parse
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-projects-aggregate.adb
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-source_table.adb
  lkql_checker/src/gnatcheck-source_table.ads
Due: gnatformat

Migrate '-h' and '--help' to Opt_Parse
  lkql_checker/doc/gnatcheck_rm/using_gnatcheck.rst
  lkql_checker/doc/gnatcheck_rm/writing_your_own_rules.rst
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Migrate the '-hx' flag to Opt_Parse
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-projects.adb
Due: gnatformat

Migrate the '-files' switch to Opt_Parse
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-projects.ads
  lkql_checker/src/gnatcheck-source_table.adb
  lkql_checker/src/gnatcheck-source_table.ads
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Migrate the '-log' switch to Opt_Parse
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-output.ads
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Migrate the '-mn' switch to Opt_Parse
  lkql_checker/src/gnatcheck-diagnoses.adb
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck_main.adb
  testsuite/drivers/gnatcheck_driver.py
Due: gnatformat

Migrate '-xml', '-nt', '-o' and '-ox' switches to Opt_Parse
  lkql_checker/src/gnatcheck-diagnoses.adb
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-output.ads
  lkql_checker/src/gnatcheck-projects-aggregate.adb
  lkql_checker/src/gnatcheck-projects.adb
Due: gnatformat

Migrate the ''--version' switch to Opt_Parse
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Migrate the '--kp-version' switch to Opt_Parse
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-rules-rule_table.adb
Due: gnatformat

minor: Remove useless header in 'gnatcheck-output.adb'
  lkql_checker/src/gnatcheck-output.adb
Due: gnatformat

minor: Correct the doc-string of the 'Add_Rule_By_Name' procedure
  lkql_checker/src/gnatcheck-projects.ads
Due: gnatformat

minor: Correct errors in parsers help messages
  lkql_checker/src/gnatcheck-options.ads
Due: gnatformat

minor: Fix a typo
  lkql_checker/src/gnatcheck-projects.adb
Due: gnatformat

Fix the 'positional_components' auto fixing function to emit valid node types
  lkql_checker/share/lkql/positional_components.lkql
Due: none

Update stdlib documentation
  user_manual/generated/stdlib.rst
Due: none

Update predefined rules documentation
  lkql_checker/doc/generated/predefined_rules.rst
Due: none

Fix the 'Print_XML_Params' function to fully print parameters
  lkql_checker/src/gnatcheck-rules.adb
  testsuite/drivers/gnatcheck_driver.py
  testsuite/tests/gnatcheck/xml_coding_standard/exclude.txt
  testsuite/tests/gnatcheck/xml_coding_standard/header.txt
  testsuite/tests/gnatcheck/xml_coding_standard/main.adb
  testsuite/tests/gnatcheck/xml_coding_standard/rules.lkql
  testsuite/tests/gnatcheck/xml_coding_standard/test.out
  testsuite/tests/gnatcheck/xml_coding_standard/test.yaml
Due: gnatformat

Add a 'check_redefinition' configuration attribute to the GNATcheck testing driver
  testsuite/drivers/gnatcheck_driver.py
Due: none

Remove the 'list_dirs' attribute from the GNATcheck testing driver
  testsuite/drivers/gnatcheck_driver.py
  testsuite/tests/gnatcheck/subdirs/test.out
  testsuite/tests/gnatcheck/subdirs/test.yaml
Due: none

Remove the 'rule_list_file' attribute from the GNATcheck testing driver
  testsuite/drivers/gnatcheck_driver.py
Due: none

Add a 'process_closure' configuration attribute to the GNATcheck testing driver
  testsuite/drivers/gnatcheck_driver.py
Due: none

minor: Simplify environment creation when running multiple gnatcheck tests
  testsuite/drivers/gnatcheck_driver.py
Due: none

Add a 'gnatcheck_env' configuration attribute to the GNATcheck testing driver
  testsuite/drivers/gnatcheck_driver.py
Due: none

Provide functions to post and pre Python snippets to inspect the test working directory
  testsuite/drivers/gnatcheck_driver.py
  testsuite/tests/gnatcheck/emit_lkql_rule_file/test.out
  testsuite/tests/gnatcheck/emit_lkql_rule_file/test.yaml
  testsuite/tests/gnatcheck_errors/already_existing_lkql_rule_file/test.out
  testsuite/tests/gnatcheck_errors/already_existing_lkql_rule_file/test.yaml
Due: none

minor: Fix a bug in the automatic flag adding process
  testsuite/drivers/base_driver.py
Due: none

Add a 'check_semantic' configuration attribute to the GNATcheck testing driver
  testsuite/drivers/gnatcheck_driver.py
Due: none

Add a 'gnatcheck_working_dir' configuration attribute to the GNATcheck testing driver
  testsuite/drivers/gnatcheck_driver.py
Due: none

Allow boolean value for the 'output_file' attribute
  testsuite/drivers/gnatcheck_driver.py
Due: none

Add an 'include_file' configuration attribute to the GNATcheck testing driver
  testsuite/drivers/gnatcheck_driver.py
Due: none

minor: Remove useless imports in 'gnatcheck_driver.py'
  testsuite/drivers/gnatcheck_driver.py
Due: none

Freeze the gnatformat version used in the CI
  .gitlab-ci.yml
Due: none

.gitlab-ci.yaml: Place all factorizable information in a 'variables' object
  .gitlab-ci.yml
Due: none

Unify version information output
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-output.ads
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck_main.adb
  testsuite/drivers/gnatcheck_driver.py
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_1/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_2/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_3/test.out
Due: gnatformat

GNATcheck: add the -V short format option for --version
  lkql_checker/doc/gnatcheck_rm/using_gnatcheck.rst
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-output.adb
  testsuite/tests/gnatcheck/version/test.out
  testsuite/tests/gnatcheck/version/test.yaml
Due: gnatformat

LKQL: add version information for picocli
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLMain.java
Due: maven-spotless

fix parser errors
  lkql/lkql.lkt
Due: none

Fixed property access on dynamic nodes
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/dot/DotAccess.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternProperty.java
Due: maven-spotless

Path conditions:
  gnatformat: any of: ^lkql_checker/src/.*\.ad(b|s)$
  maven-spotless: any of: ^lkql_jit/.*\.java$
