Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

gnatformat:
  name: Format GNATcheck sources
  entry: gnatformat
  language: system

maven-spotless:
  name: Format LKQL JIT sources
  entry: python
  args:
  - utils/maven_wrapper.py
  - spotless:apply
  language: system
  pass_filenames: false
  require_serial: true

minor: Fix a typo in a GPR attribute description
  lkql_checker/src/lkql_checker-projects.adb
  testsuite/tests/gnatcheck/print_gpr_registry/test.out
Due: gnatformat

Rework how GPR switches are processed to enable logging
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-projects.ads
  lkql_checker/src/lkql_checker.adb
  testsuite/tests/gnatcheck/log_mode/test.out
  testsuite/tests/gnatcheck/log_mode/test.yaml
  testsuite/tests/gnatcheck/log_mode/with_log_switch.gpr
Due: gnatformat

Disable '-log' switch in GPR 'Switches'
  lkql_checker/doc/gnatcheck_rm/using_gnatcheck.rst
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-output.adb
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker.adb
  testsuite/tests/gnatcheck/log_mode/main.adb
  testsuite/tests/gnatcheck/log_mode/rules.lkql
  testsuite/tests/gnatcheck/log_mode/test.out
  testsuite/tests/gnatcheck/log_mode/test.yaml
  testsuite/tests/gnatcheck/log_mode/with_log.gpr
  testsuite/tests/gnatcheck/log_mode/with_log_switch.gpr
  testsuite/tests/gnatcheck/log_mode/without_log.gpr
  testsuite/tests/gnatcheck/print_gpr_registry/test.out
Due: gnatformat

minor: Fix typo
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

Change switch statements to switch expressions
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

Implement property pattern lowering
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

Refactor declaration building in LktPasses
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

Add struct instanciation support
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/Constants.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  testsuite/tests/interpreter/structs/script.lkql
  testsuite/tests/interpreter/structs/test.out
  testsuite/tests/interpreter/structs/test.yaml
Due: maven-spotless

Add struct destructuring support
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  testsuite/tests/interpreter/struct_patterns/script.lkql
  testsuite/tests/interpreter/struct_patterns/test.out
  testsuite/tests/interpreter/struct_patterns/test.yaml
  testsuite/tests/interpreter_errors/struct_pattern_bad_field/script.lkql
  testsuite/tests/interpreter_errors/struct_pattern_bad_field/test.out
  testsuite/tests/interpreter_errors/struct_pattern_bad_field/test.yaml
Due: maven-spotless

Add detector for KP 19238
  lkql_checker/share/lkql/kp/kp_19238.lkql
  testsuite/tests/checks/KP-19238/main.adb
  testsuite/tests/checks/KP-19238/prj.gpr
  testsuite/tests/checks/KP-19238/test.out
  testsuite/tests/checks/KP-19238/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Ensure exit code reflects internal errors
  lkql_checker/src/lkql_checker-compiler.adb
  testsuite/tests/gnatcheck_errors/unparsable_worker_messages/test.out
Due: gnatformat

Do not try to introduce a binding when encountering a 'LangkitRoot'
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

Ensure exit code reflects internal errors
  lkql_checker/src/gnatcheck-compiler.adb
  testsuite/tests/gnatcheck_errors/unparsable_worker_messages/test.out
Due: gnatformat

Add detector for KP 20359
  lkql_checker/share/lkql/kp/kp_20359.lkql
  lkql_checker/share/lkql/stdlib.lkql
  testsuite/tests/checks/KP-20359/main.adb
  testsuite/tests/checks/KP-20359/main.ads
  testsuite/tests/checks/KP-20359/prj.gpr
  testsuite/tests/checks/KP-20359/test.out
  testsuite/tests/checks/KP-20359/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

lkql_jit: install the standard library at package phase
  lkql_jit/standalone/pom.xml
Due: none

testsuite.py: remove the unused --no-auto-path option
  testsuite/testsuite.py
Due: none

test drivers: rely on the environment to set LKQL_PATH
  testsuite/drivers/gnatcheck_driver.py
  testsuite/testsuite.py
Due: none

lkql_checker: add stdlib's path to LKQL_PATH
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

Move stdlib.lkql from lkql_checker to lkql
  lkql/lib/stdlib.lkql
  lkql/lib/stdlib_internal.lkql
  user_manual/Makefile
Due: none

LKQL stdlib: deprecate is_limited_type
  lkql/lib/stdlib.lkql
  lkql_checker/share/lkql/kp/kp_v302_021.lkql
Due: none

Update outdated parser test
  testsuite/tests/parser/doc_node/input
  testsuite/tests/parser/doc_node/test.out
Due: none

Refactoring for module documentation
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/refactorings/LKQLToLkt.java
  testsuite/tests/refactor/module_doc/input.lkql
  testsuite/tests/refactor/module_doc/test.out
  testsuite/tests/refactor/module_doc/test.yaml
Due: maven-spotless

Handle module-level doc in lkt frontend
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

perf: Store frame size at root node creation
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/root_nodes/BaseRootNode.java
Due: maven-spotless

perf: Don't use 'DirectCallNode' outside of specialized methods
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLQueryComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLSelectorList.java
Due: maven-spotless

Add a method in 'LKQLCallable' to get the declaration location
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCallable.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLSelector.java
Due: maven-spotless

Create a 'subcommands' package
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLMain.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/BaseLKQLChecker.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/GNATCheckWorker.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLChecker.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLDocAPI.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLDocRules.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLFix.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLLauncher.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLPasses.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLRefactor.java
Due: maven-spotless

Add annotation to runtime callable value
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLAnnotation.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCallable.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctionValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/FunctionDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/selector/SelectorDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLSelector.java
Due: maven-spotless

Do not provide the closure content directly
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/built_ins/NodeCheckerFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/built_ins/UnitCheckerFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/value_read/ReadClosure.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/value_read/ReadClosureUnsafe.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/utils/CreateClosureNode.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/Closure.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/FrameUtils.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLMapResult.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLQueryComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLSelectorList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLStream.java
Due: maven-spotless

Now use the built-in cache to get the rewriting context
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
Due: maven-spotless

Rename the 'LKQLLauncher' into 'LKQLRun'
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLMain.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLPasses.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLRun.java
Due: maven-spotless

Move default parameter evaluation to FunctionRootNode
  lkql_jit/builtins_annotations/src/main/java/com/adacore/lkql_jit/annotations/BuiltInProcessor.java
  lkql_jit/builtins_annotations/src/main/java/com/adacore/lkql_jit/annotations/DefaultVal.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLNoValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLLanguage.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInDefaultParam.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctionValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInMethodFactory.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInMethodValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInPropertyValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/exception/LKQLRuntimeException.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/root_nodes/FunctionRootNode.java
Due: maven-spotless

perf: Move loop outside the execution function in ListComp
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/list_comprehension/ListComprehension.java
Due: maven-spotless

Only check rules duplication in a 'checking' context
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/CheckerExport.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/GlobalScope.java
Due: maven-spotless

Add a way to get the closure of a LKQLCallable value
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCallable.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLSelector.java
Due: maven-spotless

Add a 'context' built-in function to get the analysis context
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
Due: maven-spotless

Rename the 'cli' module to 'driver'
  lkql_jit/driver/pom.xml
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/BaseLKQLChecker.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/GNATCheckWorker.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLChecker.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLDocAPI.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLDocRules.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLFix.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLLauncher.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLMain.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLPasses.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/LKQLRefactor.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/package-info.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/refactorings/LKQLToLkt.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/refactorings/Refactoring.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/refactorings/TokenBasedRefactoring.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/refactorings/TreeBasedRefactoring.java
  lkql_jit/pom.xml
  lkql_jit/standalone/lkql.py
  lkql_jit/standalone/make_native.py
  lkql_jit/standalone/pom.xml
Due: maven-spotless

Take checking process outside the engine
  lkql_jit/driver/pom.xml
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/checker/CheckerRun.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/checker/Rule.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/checker/RuleInstance.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/checker/RuleRepository.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/checker/package-info.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/DiagnosticCollector.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/Hint.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/TextReportCreator.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/package-info.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/variants/BaseDiagnostic.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/variants/Error.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/variants/RawMessage.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/variants/RuleViolation.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/variants/Warning.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/diagnostics/variants/package-info.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/source_support/LangkitSlocRangeWrapper.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/source_support/SourceLinesCache.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/source_support/SourceSection.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/source_support/TruffleSourceSectionWrapper.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/source_support/package-info.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/BaseLKQLChecker.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLChecker.java
  lkql_jit/driver/src/main/java/com/adacore/lkql_jit/driver/subcommands/LKQLFix.java
  testsuite/tests/checks/same_check_name/test.out
  testsuite/tests/rewriting_errors/invalid_auto_fix/test.out
  testsuite/tests/rewriting_errors/invalid_rewriting/test.out
  testsuite/tests/rewriting_errors/no_auto_fix/test.out
  testsuite/tests/rewriting_errors/unit_checker/test.out
Due: maven-spotless

Update testsuite.py
  testsuite/testsuite.py
Due: none

Path conditions:
  gnatformat: any of: ^lkql_checker/src/.*\.ad(b|s)$
  maven-spotless: any of: ^lkql_jit/.*\.java$
