Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

gnatformat:
  name: Format GNATcheck sources
  entry: gnatformat
  language: system

maven-spotless:
  name: Format LKQL JIT sources
  entry: python
  args:
  - utils/maven_wrapper.py
  - spotless:apply
  language: system
  pass_filenames: false
  require_serial: true

Add lowering for the 'ArrayLiteral' Lkt node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  testsuite/tests/interpreter/enumerate/test.yaml
  testsuite/tests/interpreter/str_concat/test.yaml
Due: maven-spotless

Add lowering for the 'SubscriptExpr' Lkt node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

Add special lowering for the 'Unit()' function call
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  testsuite/tests/interpreter/binop_eq/test.yaml
  testsuite/tests/interpreter/unit_literal/test.yaml
Due: maven-spotless

Correct a syntax error in LKQL to Lkt emitted code
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/LKQLToLkt.java
  testsuite/tests/interpreter/block_expr/test.yaml
Due: maven-spotless

Don't call the 'compute_diff' function when expecting a 'lkt_refactor' test to fail
  testsuite/drivers/interpreter_driver.py
Due: none

Remove the 'interpreter/user_fn_doc' test case
  testsuite/tests/interpreter/user_fn_doc/script.lkql
  testsuite/tests/interpreter/user_fn_doc/test.out
  testsuite/tests/interpreter/user_fn_doc/test.yaml
Due: none

Rework the 'map' built-in
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/BaseLKQLChecker.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/GNATCheckWorker.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLMapResult.java
  testsuite/tests/gnatcheck_errors/generic_inst_walking/test.out
  testsuite/tests/interpreter/builtins/map/script.lkql
  testsuite/tests/interpreter/builtins/map/test.out
  testsuite/tests/interpreter/builtins/map/test.yaml
  testsuite/tests/rewriting_errors/invalid_rewriting/test.out
  testsuite/tests/rewriting_errors/no_auto_fix/test.out
  user_manual/generated/std.rst
Due: maven-spotless

Introduce the 'flat_map' built-in method in the ''Iterable' type
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  testsuite/tests/interpreter/builtins/flat_map/script.lkql
  testsuite/tests/interpreter/builtins/flat_map/test.out
  testsuite/tests/interpreter/builtins/flat_map/test.yaml
  user_manual/generated/std.rst
Due: maven-spotless

Merge 'builtins/str_length' and 'builtins/list_length' test cases
  testsuite/tests/interpreter/builtins/length/script.lkql
  testsuite/tests/interpreter/builtins/length/test.out
  testsuite/tests/interpreter/builtins/length/test.yaml
  testsuite/tests/interpreter/builtins/list_length/script.lkql
  testsuite/tests/interpreter/builtins/str_length/script.lkql
  testsuite/tests/interpreter/builtins/str_length/test.out
  testsuite/tests/interpreter/builtins/str_length/test.yaml
Due: none

Introduce the 'flatten' built-in method
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/methods/IterableMethods.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLFlattenResult.java
  testsuite/tests/interpreter/builtins/flatten/script.lkql
  testsuite/tests/interpreter/builtins/flatten/test.out
  testsuite/tests/interpreter/builtins/flatten/test.yaml
  user_manual/generated/std.rst
Due: maven-spotless

Add Streams in the LKQL engine
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLTypeSystem.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Expr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/BaseStreamOp.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamConcat.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/StreamCons.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/root_nodes/LazyCell.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLStream.java
  testsuite/tests/interpreter/streams/script.lkql
  testsuite/tests/interpreter/streams/test.out
  testsuite/tests/interpreter/streams/test.yaml
Due: maven-spotless

Add lowering for the 'LambdaExpr' Lkt node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

Add a Black formatting phase in pre-commit hooks
  .pre-commit-config.yaml
Due: none

Format all Python sources with Black
  lkql_checker/doc/share/ada_pygments.py
  lkql_checker/doc/share/conf.py
  lkql_checker/doc/share/latex_elements.py
  lkql_checker/share/lkql/kp/kp_va20_016.py
  lkql_jit/standalone/lkql.py
  obj/debug/main-gdb.py
  printers.py
  testsuite/drivers/gnatcheck_driver.py
  testsuite/drivers/interpreter_driver.py
  testsuite/tests/gnatcheck_errors/unparsable_worker_messages/bogus_lkql.py
  user_manual/source/conf.py
  user_manual/source/lkql_doc_class.py
  user_manual/source/lkql_lexer.py
  utils/add_checker_test.py
  utils/impact-db_impacts_gen.py
  utils/maven_wrapper.py
  utils/refactoring/pattern_arg_is_to_colon.py
  utils/refactoring/replace_or_patterns.py
  utils/refactoring/simplify_binding_patterns.py
Due: none

Add a Flake8 phase in pre-commit hooks
  .flake8
  .pre-commit-config.yaml
Due: none

Resolved all violations reported by Flake8
  lkql_checker/doc/share/conf.py
  lkql_jit/standalone/make_native.py
  obj/debug/main-gdb.py
  testsuite/drivers/base_driver.py
  testsuite/drivers/benchmarks_driver.py
  testsuite/drivers/checker_driver.py
  testsuite/drivers/gnatcheck_driver.py
  testsuite/drivers/interpreter_driver.py
  user_manual/source/conf.py
  user_manual/source/lkql_doc_class.py
  utils/refactoring/simplify_binding_patterns.py
Due: none

GNATcheck/LKQL: get rid of LKQL_RULES_PATH env variable
  lkql_checker/src/lkql_checker.adb
  lkql_checker/src/rules_factory.adb
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/Constants.java
  testsuite/drivers/checker_driver.py
  testsuite/drivers/gnatcheck_driver.py
  testsuite/drivers/interpreter_driver.py
  testsuite/testsuite.py
Due: gnatformat, maven-spotless

gnatcheck driver: make version output refiner release candidate compatible
  testsuite/drivers/gnatcheck_driver.py
Due: none

CI: use the same version of e3-testsuite as the Anod sandbox
  .gitlab-ci.yml
Due: none

Disable source format checking in the CI
  .gitlab-ci.yml
Due: none

Add lowering for the safe access 'DotExpr' Lkt node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  testsuite/tests/interpreter/safe_field_access/test.yaml
  testsuite/tests/interpreter/safe_field_null_access/test.yaml
Due: maven-spotless

Add QueryComprehension
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/QueryComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/root_nodes/QueryComprehensionRootNode.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLQueryComprehension.java
  testsuite/tests/interpreter/query_comprehension/script.lkql
  testsuite/tests/interpreter/query_comprehension/test.out
  testsuite/tests/interpreter/query_comprehension/test.yaml
Due: maven-spotless

Simplify ListComprehension node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/list_comprehension/ListComprehension.java
Due: maven-spotless

Make 'units()' primitive lazy
  lkql_checker/share/lkql/kp/kp_20229.lkql
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/ListStorage.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLLazyListStreamWrapper.java
  testsuite/tests/gnatcheck/scenario_variables/rules/display_units.lkql
  testsuite/tests/miscellaneous/units/script.lkql
Due: maven-spotless

Simplify ListComprehension framing
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/FramingPass.java
Due: maven-spotless

Add all_nodes to prelude
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLLanguage.java
Due: maven-spotless

Update new passing lkt_refactor flags
  testsuite/tests/interpreter/builtins/builtin_named_args/test.yaml
  testsuite/tests/interpreter/builtins/length/test.yaml
  testsuite/tests/interpreter/builtins/reduce/test.yaml
  testsuite/tests/interpreter/builtins/text/test.yaml
  testsuite/tests/interpreter/call_selector/test.yaml
  testsuite/tests/interpreter/iterators/test.yaml
  testsuite/tests/interpreter/list_concat/test.yaml
  testsuite/tests/interpreter/list_eq/test.yaml
  testsuite/tests/interpreter/list_indexing_0/test.yaml
  testsuite/tests/interpreter/list_literal_default_val/test.yaml
  testsuite/tests/interpreter/node_indexing/test.yaml
  testsuite/tests/interpreter/safe_indexing/test.yaml
  testsuite/tests/interpreter/simple_list_comprehension/test.yaml
Due: none

Refactoring for query comprehension
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/Refactorings/LKQLToLkt.java
  testsuite/tests/refactor/query_comprehension/input.lkql
  testsuite/tests/refactor/query_comprehension/test.out
  testsuite/tests/refactor/query_comprehension/test.yaml
  testsuite/tests/refactor/selectors/test.out
Due: maven-spotless

GNATcheck: improve documentation about default LKQL rule file
  lkql_checker/doc/gnatcheck_rm/using_gnatcheck.rst
Due: none

Remove selector pattern binding
  lkql/build/railroad-diagrams/selector_call.svg
  lkql/lkql.lkt
  lkql_checker/share/lkql/deeply_nested_instantiations.lkql
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/FramingPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/SelectorCall.java
  testsuite/tests/interpreter/full_pattern_binding_query_0/script.lkql
  testsuite/tests/parser/annotated_fun/test.out
  testsuite/tests/parser/full_selector_call/input
  testsuite/tests/parser/full_selector_call/test.out
  testsuite/tests/parser/fun_with_type_annotations/input
  testsuite/tests/parser/fun_with_type_annotations/test.out
  testsuite/tests/parser/query_full_pattern/test.out
  testsuite/tests/parser/query_quantified_selector/test.out
  testsuite/tests/parser/universal_pattern/test.out
Due: maven-spotless

Remove some unused things in Makefile
  Makefile
Due: none

Split LKQL bindings installation phase
  Makefile
Due: none

Remove the 'automated' Makefile target
  Makefile
Due: none

Add a 'ADDITIONAL_MAVEN_ARGS' Makefile variable
  Makefile
Due: none

minor: Rewrite the 'clean_lkql_jit' target
  Makefile
Due: none

minor: Reformat variable declarations in Makefile
  Makefile
Due: none

Generate all documentations when calling top-level 'doc' target
  Makefile
Due: none

Path conditions:
  gnatformat: any of: ^lkql_checker/src/.*\.ad(b|s)$
  maven-spotless: any of: ^lkql_jit/.*\.java$
