Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

gnatformat:
  name: Format GNATcheck sources
  entry: gnatformat
  language: system

maven-spotless:
  name: Format LKQL JIT sources
  entry: python
  args:
  - utils/maven_wrapper.py
  - spotless:apply
  language: system
  pass_filenames: false
  require_serial: true

Add a pre-commit stage in the Gitlab CI
  .gitlab-ci.yml
Due: none

Format GNATcheck sources with stable version of gnatformat
  lkql_checker/src/gnatcheck-compiler.adb
Due: gnatformat

Revert "Rework the 'codepeer' target selection process"
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-projects.adb
Due: gnatformat

Revert "Remove the 'Set_Default_Target' procedure"
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-projects.ads
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

lowercase_keywords checker: fix documentation
  lkql_checker/doc/generated/predefined_rules.rst
  lkql_checker/share/lkql/lowercase_keywords.lkql
Due: none

Disable backslashes canonicalization for 'xml_help' test case
  testsuite/tests/gnatcheck/xml_help/test.yaml
Due: none

Add detector for KP-19853
  lkql_checker/share/lkql/kp/KP-19853.lkql
  lkql_checker/share/lkql/kp/kp.json
  testsuite/tests/checks/KP-19853/main.ads
  testsuite/tests/checks/KP-19853/prj.gpr
  testsuite/tests/checks/KP-19853/test.out
  testsuite/tests/checks/KP-19853/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

checker test driver: add output refiner
  testsuite/drivers/checker_driver.py
Due: none

Sort rules directories and files
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/TopLevelList.java
Due: maven-spotless

lkql check: add a warning when different LKQL files declare checkers with identical name
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/BaseChecker.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/GlobalScope.java
  testsuite/tests/checks/same_check_name/rule1.lkql
  testsuite/tests/checks/same_check_name/rule2.lkql
  testsuite/tests/checks/same_check_name/rule3.lkql
  testsuite/tests/checks/same_check_name/test.adb
  testsuite/tests/checks/same_check_name/test.out
  testsuite/tests/checks/same_check_name/test.yaml
Due: maven-spotless

checker test driver: fix output refiner
  testsuite/drivers/checker_driver.py
Due: none

minor: Lower upper-case character at start of messages
  lkql_checker/src/gnatcheck-projects-aggregate.adb
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-rules-rule_table.adb
Due: gnatformat

Remove useless type checks when accessing values of the 'Check' GPR package attributes
  lkql_checker/src/gnatcheck-projects.adb
Due: gnatformat

Move instance creation outside of parameter processing functions
  lkql_checker/src/gnatcheck-rules-rule_table.adb
  lkql_checker/src/gnatcheck-rules.adb
  lkql_checker/src/gnatcheck-rules.ads
Due: gnatformat

Add an optional location to error messages
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-output.ads
  lkql_checker/src/gnatcheck-rules-rule_table.adb
  testsuite/tests/gnatcheck/lkql_rules_config/actual_parameters/test.out
  testsuite/tests/gnatcheck/lkql_rules_config/array_param/test.out
  testsuite/tests/gnatcheck/lkql_rules_config/bool_param/test.out
  testsuite/tests/gnatcheck/lkql_rules_config/exception_propagation_from_callbacks/test.out
  testsuite/tests/gnatcheck/lkql_rules_config/headers/test.out
  testsuite/tests/gnatcheck/lkql_rules_config/int_and_bool_params/test.out
  testsuite/tests/gnatcheck/lkql_rules_config/int_param/test.out
  testsuite/tests/gnatcheck/lkql_rules_config/name_clashes/test.out
  testsuite/tests/gnatcheck/lkql_rules_config/parameters_out_of_order/test.out
  testsuite/tests/gnatcheck_errors/invalid_lkql_rules_config/test.out
  testsuite/tests/gnatcheck_errors/same_name_instances/test.out
Due: gnatformat

Add 'Error' primitives to 'Rule_Instance' and 'Arg_Project_Type'
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-projects.ads
  lkql_checker/src/gnatcheck-rules.adb
  lkql_checker/src/gnatcheck-rules.ads
  testsuite/tests/gnatcheck_errors/wrong_runtime/linux/test.out
  testsuite/tests/gnatcheck_errors/wrong_target/test.out
Due: gnatformat

Add optional location to warning messages
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-output.ads
  lkql_checker/src/gnatcheck-rules-rule_table.adb
  lkql_checker/src/gnatcheck-rules.adb
  lkql_checker/src/gnatcheck-rules.ads
  testsuite/tests/gnatcheck/warnings_as_errors/test.out
Due: gnatformat

Fix the detector for KP-19142
  lkql_checker/share/lkql/kp/KP-19142.lkql
  testsuite/tests/checks/KP-19142/test.out
  testsuite/tests/checks/KP-19142/test.yaml
Due: none

minor: Reformat 'kp_19142.lkql' file
  lkql_checker/share/lkql/kp/KP-19142.lkql
Due: none

Update the baseline of the 'wrong_runtime/windows' test case
  testsuite/tests/gnatcheck_errors/wrong_runtime/windows/test.out
Due: none

lowercase_keywords: don't match attribute names
  lkql_checker/share/lkql/lowercase_keywords.lkql
Due: none

lowercase_keywords: add missing test
  testsuite/tests/checks/lowercase_keywords/83/test.out
  testsuite/tests/checks/lowercase_keywords/83/test.yaml
  testsuite/tests/checks/lowercase_keywords/83/test_83.adb
  testsuite/tests/checks/lowercase_keywords/95/test.out
  testsuite/tests/checks/lowercase_keywords/95/test.yaml
  testsuite/tests/checks/lowercase_keywords/95/test_95.adb
  testsuite/tests/checks/lowercase_keywords/default/test.adb
  testsuite/tests/checks/lowercase_keywords/default/test.out
  testsuite/tests/checks/lowercase_keywords/default/test.yaml
Due: none

Do all requested renamings
  lkql_checker/doc/generated/list_of_rules.rst
  lkql_checker/doc/generated/predefined_rules.rst
  lkql_checker/share/lkql/lowercase_keywords.lkql
  lkql_checker/share/lkql/no_dependence.lkql
  lkql_checker/share/lkql/overriding_indicators.lkql
  testsuite/tests/checks/lowercase_keywords/83/test.out
  testsuite/tests/checks/lowercase_keywords/95/test.out
  testsuite/tests/checks/lowercase_keywords/default/test.out
  testsuite/tests/checks/no_dependence/test.out
  testsuite/tests/checks/overriding_indicators/test-prim3.adb
  testsuite/tests/checks/overriding_indicators/test.adb
  testsuite/tests/checks/overriding_indicators/test.ads
  testsuite/tests/checks/overriding_indicators/test.out
  testsuite/tests/checks/overriding_indicators/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Fix the 'overriding_indicators' rule
  lkql_checker/share/lkql/overriding_indicators.lkql
Due: none

overriding_indicators: fix detection of late primtives
  lkql_checker/share/lkql/overriding_indicators.lkql
  testsuite/tests/checks/overriding_indicators/late.adb
  testsuite/tests/checks/overriding_indicators/late.ads
  testsuite/tests/checks/overriding_indicators/test.out
  testsuite/tests/checks/overriding_indicators/test.yaml
Due: none

Do not fail when importing file already present in rules search paths
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/Import.java
  testsuite/tests/interpreter/non_ambiguous_import/prj.gpr
  testsuite/tests/interpreter/non_ambiguous_import/rules/my_rule.lkql
  testsuite/tests/interpreter/non_ambiguous_import/rules/mylib.lkql
  testsuite/tests/interpreter/non_ambiguous_import/test.adb
  testsuite/tests/interpreter/non_ambiguous_import/test.out
  testsuite/tests/interpreter/non_ambiguous_import/test.yaml
Due: maven-spotless

kp.json: generate file at build time
  .gitignore
  Makefile
  lkql_checker/share/lkql/kp/kp.json
  lkql_checker/src/rules_factory.adb
Due: gnatformat

Fix kp.json automatic generation
  Makefile
  lkql_checker/src/rules_factory.adb
Due: gnatformat

Makefile: fix IMPACTDB_DIR var default value for ancr envs
  Makefile
Due: none

Makefile: fix IMPACTDB_DIR var default value for ancr envs on Windows
  Makefile
Due: none

Makefile: fix impacts target for Cygwin environments
  Makefile
Due: none

overriding_indicators: fix detection of late primtives
  lkql_checker/share/lkql/overriding_indicators.lkql
  testsuite/tests/checks/overriding_indicators/overriding_marks/late.adb
  testsuite/tests/checks/overriding_indicators/overriding_marks/late.ads
  testsuite/tests/checks/overriding_indicators/overriding_marks/test.out
  testsuite/tests/checks/overriding_indicators/overriding_marks/test.yaml
Due: none

Restore old behavior of the 'Identifier_Prefixes' rule regarding formal object decls
  lkql_checker/doc/generated/predefined_rules.rst
  lkql_checker/share/lkql/identifier_prefixes.lkql
  testsuite/tests/checks/identifier_prefixes/prefix.ads
  testsuite/tests/checks/identifier_prefixes/test.out
Due: none

Adapt the testsuite baseline to the new Opt_Parse error message
  testsuite/tests/gnatcheck_errors/multiple_lkql_rule_files/test.out
Due: none

Remove the 'Set_Default_Target'
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-projects.ads
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Rework the 'Should_Use_Codepeer_Target' to return true iff there is only the codepeer target available
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-compiler.ads
Due: gnatformat

Rework the usage of the 'Should_Use_Codepeer_Target' function to correctly fallback on the 'codepeer' target
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-projects.adb
Due: gnatformat

Remove tests about target providing for the GNATcheck driver
  testsuite/tests/gnatcheck/target/codepeer/config.cgpr
  testsuite/tests/gnatcheck/target/codepeer/main.adb
  testsuite/tests/gnatcheck/target/codepeer/test.out
  testsuite/tests/gnatcheck/target/codepeer/test.yaml
  testsuite/tests/gnatcheck/target/codepeer/with_target.gpr
  testsuite/tests/gnatcheck/target/codepeer/without_target.gpr
  testsuite/tests/gnatcheck/target/linux/config.cgpr
  testsuite/tests/gnatcheck/target/linux/main.adb
  testsuite/tests/gnatcheck/target/linux/test.out
  testsuite/tests/gnatcheck/target/linux/test.yaml
  testsuite/tests/gnatcheck/target/linux/with_target.gpr
  testsuite/tests/gnatcheck/target/linux/without_target.gpr
Due: none

Avoid raising a 'Fatal_Error' when no gprbuild is accessible
  lkql_checker/src/gnatcheck-compiler.adb
Due: gnatformat

Rework the 'gprconfig' result parsing to be system independent
  lkql_checker/src/gnatcheck-compiler.adb
Due: gnatformat

Path conditions:
  gnatformat: any of: ^lkql_checker/src/.*\.ad(b|s)$
  maven-spotless: any of: ^lkql_jit/.*\.java$
