Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gnatformat
        name: Format GNATcheck sources
        entry: gnatformat
        language: system
        files: "^lkql_checker/src/.*\\.ad(b|s)$"
  - repo: local
    hooks:
      - id: maven-spotless
        name: Format LKQL JIT sources
        entry: python
        args:
          - utils/maven_wrapper.py
          - spotless:apply
        language: system
        pass_filenames: false
        require_serial: true
        files: "^lkql_jit/.*\\.java$"

Cleanup multiple 'maven-compiler-plugin' configurations
  lkql_jit/benchmarks/src/test/java/com/adacore/lkql_jit/benchmarks/ClosureBenchmark.java
  lkql_jit/benchmarks/src/test/java/com/adacore/lkql_jit/benchmarks/ClosureCreationBenchmark.java
  lkql_jit/builtins_annotations/pom.xml
  lkql_jit/cli/pom.xml
  lkql_jit/language/pom.xml
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/exception/LKQLRuntimeException.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/exception/LangkitException.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/RegexPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/ListStorage.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLNull.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/ListUtils.java
  lkql_jit/pom.xml
Due: maven-spotless

Update the 'lkql_jit/README.md' file
  lkql_jit/README.md
Due: none

Remove the 'component' module since this notion doesn't exist anymore in the new GraalVM version
  lkql_jit/.gitignore
  lkql_jit/component/clean.py
  lkql_jit/component/install.py
  lkql_jit/component/make.py
  lkql_jit/component/pom.xml
  lkql_jit/component/scripts/lkql.py
  lkql_jit/pom.xml
  lkql_jit/utils.py
Due: none

Update support for the 'regex' internal language
  lkql_jit/language/pom.xml
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLPattern.java
Due: maven-spotless

Rework the Makefile to not install 'lkql_jit' anymore
  Makefile
Due: none

Ensure 'spotless' is in the 'test' dependency scope
  lkql_jit/pom.xml
Due: none

Rework the 'native' module into a 'standalone' module
  lkql_jit/.gitignore
  lkql_jit/native/pom.xml
  lkql_jit/pom.xml
  lkql_jit/standalone/make_native.py
  lkql_jit/standalone/pom.xml
  lkql_jit/utils.py
Due: none

Cleanup LKQL JIT '.gitignore'
  lkql_jit/.gitignore
Due: none

Rework the packaging of the 'language' module
  lkql_jit/language/pom.xml
Due: none

Cleanup dependencies in the 'builtins_annotations' module
  lkql_jit/builtins_annotations/pom.xml
  lkql_jit/builtins_annotations/src/main/java/com/adacore/lkql_jit/annotations/BuiltInProcessor.java
Due: maven-spotless

Reorder 'clean' deps in the Makefile
  Makefile
Due: none

Remove the 'lkql_jit/TODO.md' file since it is now useless
  lkql_jit/TODO.md
Due: none

Rework the packaging of the 'options' module
  lkql_jit/options/pom.xml
Due: none

Adapt the testsuite to the new LKQL packaging
  testsuite/drivers/base_driver.py
  testsuite/drivers/java_driver.py
Due: none

Rework the packaging of the 'cli' module
  lkql_jit/cli/pom.xml
Due: none

Move the LKQL JIT Python wrapper from the testsuite to the 'standalone' module
  lkql_jit/standalone/lkql.py
  lkql_jit/standalone/pom.xml
Due: none

Move native executable output from 'native/bin' to 'native/target' to remove the custom cleaning script
  lkql_jit/native/clean.py
  lkql_jit/native/make.py
  lkql_jit/native/pom.xml
Due: none

Ensure built-in functions are sorted before being documented
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  user_manual/generated/std.rst
Due: maven-spotless

LKQLWorker: emit an error for invalid rules value
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/GNATCheckWorker.java
  testsuite/tests/gnatcheck/lkql_rules_config/invalid_rule_config/config1.lkql
  testsuite/tests/gnatcheck/lkql_rules_config/invalid_rule_config/config2.lkql
  testsuite/tests/gnatcheck/lkql_rules_config/invalid_rule_config/config3.lkql
  testsuite/tests/gnatcheck/lkql_rules_config/invalid_rule_config/main.adb
  testsuite/tests/gnatcheck/lkql_rules_config/invalid_rule_config/test.out
  testsuite/tests/gnatcheck/lkql_rules_config/invalid_rule_config/test.yaml
Due: maven-spotless

Integer_Types_As_Enum: ignore formal types.
  lkql_checker/share/lkql/integer_types_as_enum.lkql
  testsuite/tests/checks/integer_as_enum/generics.adb
  testsuite/tests/checks/integer_as_enum/test.out
Due: none

Reformat file with black.
  lkql_jit/standalone/make_native.py
Due: none

Removed warnings
  lkql_jit/standalone/make_native.py
Due: none

Fix build with secure control plane
  lkql_jit/standalone/make_native.py
Due: none

Do not use two path packages
  lkql_jit/standalone/make_native.py
Due: none

Disable usage of the 'G1' GC in the native version of LKQL JIT
  lkql_jit/standalone/make_native.py
Due: none

Reformat the 'one_construct_per_line.lkql' file
  lkql_checker/share/lkql/one_construct_per_line.lkql
Due: none

Fix the 'one_construct_per_line' rule to not flag generic formal packages
  lkql_checker/share/lkql/one_construct_per_line.lkql
  testsuite/tests/checks/one_construct_per_line/line.ads
  testsuite/tests/checks/one_construct_per_line/test.out
Due: none

Fix lkql fix documentation
  user_manual/source/lkql_driver.rst
Due: none

Remove obselete README.
  lkql_checker/README.md
Due: none

Fix membership_for_validity
  lkql_checker/share/lkql/membership_for_validity.lkql
  testsuite/tests/checks/membership_for_validity/test.out
  testsuite/tests/checks/membership_for_validity/valid.adb
Due: none

lkql_jit: update after recent Libadalang API changes
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
Due: maven-spotless

reformat ada sources
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-diagnoses.adb
  lkql_checker/src/gnatcheck-json_utilities.adb
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-rules-rule_table.adb
  lkql_checker/src/gnatcheck-rules.adb
  lkql_checker/src/gnatcheck-source_table.adb
  lkql_checker/src/gnatcheck-string_utilities.adb
  lkql_checker/src/rule_commands.adb
Due: gnatformat

Disable strict native compilation when running native-image
  lkql_jit/standalone/make_native.py
Due: none

Add detector for KP 20089
  lkql_checker/share/lkql/kp/kp_20089.lkql
  lkql_checker/share/lkql/stdlib.lkql
  testsuite/tests/checks/KP-20089/main.adb
  testsuite/tests/checks/KP-20089/main.ads
  testsuite/tests/checks/KP-20089/prj.gpr
  testsuite/tests/checks/KP-20089/test.out
  testsuite/tests/checks/KP-20089/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Correct invalid KP messages
  lkql_checker/share/lkql/kp/kp_19915.lkql
  lkql_checker/share/lkql/kp/kp_20023.lkql
  testsuite/tests/checks/KP-19915/test.out
  testsuite/tests/checks/KP-20023/test.out
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Move the 'Scan_Arguments' function in the 'Gnatcheck.Options' package
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-projects.ads
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Remove early handling of '-h' and '-hx'
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Rework the sources and rules processing
  lkql_checker/src/checker_app.ads
  lkql_checker/src/gnatcheck-rules-rule_table.adb
  lkql_checker/src/gnatcheck-rules-rule_table.ads
  lkql_checker/src/gnatcheck-rules.adb
  lkql_checker/src/gnatcheck-rules.ads
  lkql_checker/src/gnatcheck-source_table.adb
  lkql_checker/src/gnatcheck-source_table.ads
  lkql_checker/src/gnatcheck-string_utilities.ads
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Cleanup 'Rules_Factory', 'Rule_Commands' and 'Checker_App' pacakges
  lkql_checker/src/checker_app.ads
  lkql_checker/src/gnatcheck-source_table.adb
  lkql_checker/src/rule_commands.ads
  lkql_checker/src/rules_factory.ads
Due: gnatformat

Remove useless '-a' support
  lkql_checker/src/gnatcheck-options.adb
Due: gnatformat
