Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

gnatformat:
  name: Format GNATcheck sources
  entry: gnatformat
  language: system

maven-spotless:
  name: Format LKQL JIT sources
  entry: python
  args:
  - utils/maven_wrapper.py
  - spotless:apply
  language: system
  pass_filenames: false
  require_serial: true

Rewrite the 'unconstrained_array_type' function to use a 'match' expression
  lkql_checker/share/lkql/unconstrained_array_returns.lkql
Due: none

Normalize type name before comparison in 'unconstrained_array_type'
  lkql_checker/share/lkql/unconstrained_array_returns.lkql
Due: none

Ensure 'unconstrained_array_type' test case is valid Ada
  testsuite/tests/checks/unconstrained_array_returns/stub-subp1.adb
  testsuite/tests/checks/unconstrained_array_returns/stub-subp2.adb
Due: none

Fix the 'unconstrained_array_returns' rule to handle derived and subtypes
  lkql_checker/share/lkql/unconstrained_array_returns.lkql
  testsuite/tests/checks/unconstrained_array_returns/derived.ads
  testsuite/tests/checks/unconstrained_array_returns/subtypes.ads
  testsuite/tests/checks/unconstrained_array_returns/test.out
Due: none

Update the generated 'predefined_rules.rst' file
  lkql_checker/doc/gnatcheck_rm/predefined_rules.rst
Due: none

GNATCheckWorker: unify duplicated rules when merging rules sets
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/BaseLKQLChecker.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/GNATCheckWorker.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/RuleInstance.java
  testsuite/drivers/gnatcheck_driver.py
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets/rules1.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets/rules2.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets/set/rule1.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets/set/rule2.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets/test.adb
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets/test.yaml
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_1/rules1.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_1/rules2.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_1/set/rule1.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_1/set/rule2.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_1/test.adb
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_1/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_1/test.yaml
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_2/rules3.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_2/set/rule1.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_2/set/rule2.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_2/test.adb
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_2/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_2/test.yaml
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_3/rules1.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_3/rules2.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_3/set/rule1.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_3/set/rule2.lkql
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_3/test.adb
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_3/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_3/test.yaml
  testsuite/tests/gnatcheck_errors/invalid_lkql_rules_config/test.out
Due: gnatformat, maven-spotless

Add SourceSection information to LKQLObject
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/literals/ObjectLiteral.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/ObjectPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/utils/ValueCombiner.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLObject.java
Due: maven-spotless

Update the LKQL rule file section of the documentation
  lkql_checker/doc/gnatcheck_rm/using_gnatcheck.rst
Due: none

minor: apply black python formatting on gnatcheck test driver
  testsuite/drivers/gnatcheck_driver.py
Due: none

Convert new diagnostics to the GNAT diagnosis format
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-output.adb
  lkql_checker/src/gnatcheck-output.ads
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/GNATCheckWorker.java
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_1/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_2/test.out
  testsuite/tests/gnatcheck/lkql_rules_merging/merge_sets_error_3/test.out
  testsuite/tests/gnatcheck_errors/invalid_lkql_rules_config/test.out
Due: gnatformat, maven-spotless

GNATCheckWorker: make JSON instances object distinct from diagnostics
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-rules-rule_table.adb
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/GNATCheckWorker.java
Due: gnatformat, maven-spotless

Add a run of the integration testsuite in the CI
  .gitlab-ci.plan
  .gitlab-ci.yml
Due: none

Add detector for KP-20023
  lkql_checker/share/lkql/kp/KP-20023.lkql
  testsuite/tests/checks/KP-20023/main.adb
  testsuite/tests/checks/KP-20023/prj.gpr
  testsuite/tests/checks/KP-20023/test.out
  testsuite/tests/checks/KP-20023/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Gitlab CI: explicitly set internal testsuite image
  .gitlab-ci.yml
Due: none

Gitlab CI: increase disk space for integration-testsuite
  .gitlab-ci.yml
Due: none

Add detector for KP-19997
  lkql_checker/share/lkql/kp/KP-19997.lkql
  testsuite/tests/checks/KP-19997/prj.gpr
  testsuite/tests/checks/KP-19997/test.adb
  testsuite/tests/checks/KP-19997/test.out
  testsuite/tests/checks/KP-19997/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Improve Silent_Exception_Handlers to support access-to-subprograms
  lkql_checker/share/lkql/silent_exception_handlers.lkql
  testsuite/tests/checks/silent_exception_handlers_deref/main.adb
  testsuite/tests/checks/silent_exception_handlers_deref/prj.gpr
  testsuite/tests/checks/silent_exception_handlers_deref/test.out
  testsuite/tests/checks/silent_exception_handlers_deref/test.yaml
Due: none

Make the integration testsuite run manually triggered in the CI
  .gitlab-ci.yml
Due: none

Adapt rules following libadalang API change
  lkql_checker/share/lkql/exception_propagation_from_callbacks.lkql
  lkql_checker/share/lkql/kp/KP-R410-028.lkql
  lkql_checker/share/lkql/stdlib.lkql
Due: none

Let the devenv set the PYTHONPATH (either ancr or anod)
  Makefile
  utils/impact-db_impacts_gen.py
Due: none

Debug: Add FunctionRootNode string repr
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctionValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/FunctionDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/root_nodes/FunctionRootNode.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/Constants.java
Due: maven-spotless

Refactor: Get rid of SelectorArm in favor of expansion to Match
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/selector/SelectorArm.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/selector/SelectorDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/root_nodes/SelectorRootNode.java
  testsuite/tests/interpreter_errors/selector_kind_error/test.out
Due: maven-spotless

Minor: lkql.lkt reformatting
  lkql/lkql.lkt
Due: none

Minor: simplify assert
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLDepthValue.java
Due: maven-spotless

Minor: Reformat testsuite.py
  testsuite/testsuite.py
Due: none

Perf: Add closure benchmark
  lkql_jit/benchmarks/src/test/java/com/adacore/lkql_jit/benchmarks/ClosureBenchmark.java
Due: maven-spotless

Fix: Fixes to the benchmark harness
  lkql_jit/benchmarks/src/test/java/com/adacore/lkql_jit/TruffleBenchmark.java
Due: maven-spotless

Perf - funcall opt: Optimize closure node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/framing_utils/ScriptFrames.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/value_read/ReadClosure.java
Due: maven-spotless

Minor: Remove useless forward declaration in lexer
  lkql/lkql.lkt
Due: none

Perf - funcall opt: Start inlining ArgList code
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInBody.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/built_ins/NodeCheckerFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/arguments/Arg.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/arguments/ArgList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/CheckerExport.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/ConstructorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/dot/DotAccess.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/dot/SafeDotAccess.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/SelectorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternField.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/ReflectionUtils.java
Due: maven-spotless

Change LKQLRuntimeException.unsupportedType signature
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/exception/LKQLRuntimeException.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLProperty.java
Due: maven-spotless

Debug: Add performance instrumentation option to lkql_jit.py
  testsuite/python_support/lkql_jit.py
Due: none

Perf - funcall opt: Optimize regular function calls
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLFunction.java
Due: maven-spotless

Perf - funcall opt: Remove frame materialization
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunCall.java
Due: maven-spotless

Refactor: Rename ReadArgument -> ReadParameter
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInBody.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/value_read/ReadParameter.java
Due: maven-spotless

Refactor: Get rid of ParameterDecl node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/ParameterDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/options/src/main/java/com/adacore/lkql_jit/options/IterationUtils.java
Due: maven-spotless

Fix: Fix grammar bug with paramless lambdas
  lkql/build/railroad-diagrams/term.svg
  lkql/lkql.lkt
  testsuite/tests/parser/no_params_lambda/input
  testsuite/tests/parser/no_params_lambda/test.out
  testsuite/tests/parser/no_params_lambda/test.yaml
Due: none

Fix null diagnostic emission
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/built_ins/UnitCheckerFunction.java
Due: maven-spotless

Path conditions:
  gnatformat: any of: ^lkql_checker/src/.*\.ad(b|s)$
  maven-spotless: any of: ^lkql_jit/.*\.java$
