Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gnatformat
        name: Format GNATcheck sources
        entry: gnatformat
        language: system
        files: "^lkql_checker/src/.*\\.ad(b|s)$"

  - repo: local
    hooks:
      - id: maven-spotless
        name: Format LKQL JIT sources
        entry: python
        args:
          - utils/maven_wrapper.py
          - spotless:apply
        language: system
        pass_filenames: false
        require_serial: true
        files: "^lkql_jit/.*\\.java$"

  - repo: https://github.com/ambv/black
    rev: 24.10.0
    hooks:
      - id: black
        name: black-24.10.0

  - repo: https://github.com/pycqa/flake8
    rev: 7.0.0
    hooks:
      - id: flake8

Move value interfaces in the 'interoperability' module
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interfaces/Indexable.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interfaces/Iterable.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interfaces/Iterator.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interfaces/Nullish.java
Due: maven-spotless

Move the 'LKQLIterator' class into the 'interoperability' module
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLIterator.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/package-info.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/iterators/BaseLKQLListIterator.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/iterators/LKQLListIterator.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/BaseLKQLLazyList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/BaseLKQLList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/LKQLList.java
Due: maven-spotless

Don't output built-ins documentation on stdout anymore
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLDocAPI.java
Due: maven-spotless

Move the 'TextWriter' class into the 'interoperability' module
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/tools/TextWriter.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
Due: maven-spotless

Move the base for all LKQL values to the 'interoperability' module
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCollection.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLIterator.java
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/DynamicAdaNode.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLDepthValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLNull.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLRecValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLSelector.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLTuple.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLUnit.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/bases/BasicLKQLValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/lists/BaseLKQLLazyList.java
Due: maven-spotless

Create a base class to all LKQL callable values
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLCallable.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctionValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/root_nodes/FunctionRootNode.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/root_nodes/SelectorRootNode.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLSelector.java
  testsuite/tests/interop/property/Main.java
  testsuite/tests/interop/property/test.out
  testsuite/tests/interop/selector/Main.java
  testsuite/tests/interop/selector/test.out
Due: maven-spotless

Create an interop value to represents all object-like values
  lkql_jit/interoperability/src/main/java/com/adacore/lkql_jit/values/interop/LKQLDynamicObject.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/BinEq.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLNamespace.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/values/LKQLObject.java
Due: maven-spotless

Upgrade prettier-java to 2.7.6 in pom.xml
  lkql_jit/pom.xml
Due: none

Remove npm caching from CI
  .gitlab-ci.yml
Due: none

Remove useless parser specification in prettier config
  lkql_jit/pom.xml
Due: none

Remove GitHub workflows
  .github/workflows/main.yml
Due: none

Makefile: fix phony targets
  Makefile
Due: none

Fix non_ambiguous_import test category
  testsuite/drivers/interpreter_driver.py
  testsuite/tests/interpreter/non_ambiguous_import/test.out
  testsuite/tests/interpreter/non_ambiguous_import/test.yaml
Due: none

Update rule following LAL change.
  lkql_checker/share/lkql/stdlib.lkql
Due: none

Add detector for KP 20303
  lkql_checker/share/lkql/kp/kp_19501.lkql
  lkql_checker/share/lkql/kp/kp_20303.lkql
  lkql_checker/share/lkql/stdlib.lkql
  testsuite/tests/checks/KP-20303/main.adb
  testsuite/tests/checks/KP-20303/main.ads
  testsuite/tests/checks/KP-20303/prj.gpr
  testsuite/tests/checks/KP-20303/test.out
  testsuite/tests/checks/KP-20303/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Move more procedures out of the 'Lkql_Checker.Projects' package
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-projects.ads
Due: gnatformat

Split GPR related option parsing from tool specific one
  lkql_checker/src/lkql_checker-compiler.adb
  lkql_checker/src/lkql_checker-diagnoses.adb
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-output.adb
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-projects.ads
  lkql_checker/src/lkql_checker-source_table.adb
  lkql_checker/src/lkql_checker-source_table.ads
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

Move exit codes out from the 'Main' procedure
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

Rename 'Scan_Arguments' into 'Scan_Tool_Arguments'
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

minor: Remove some unused declarations
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-projects-aggregate.adb
  lkql_checker/src/lkql_checker-projects-aggregate.ads
  lkql_checker/src/lkql_checker-projects.ads
  lkql_checker/src/lkql_checker-source_table.adb
  lkql_checker/src/lkql_checker-source_table.ads
Due: gnatformat

Move 'Process_Rule_Options' in the 'Lkql_Checker.Options' package
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-projects.ads
Due: gnatformat

Rename 'Arg' package into 'Tool_Args'
  lkql_checker/src/lkql_checker-compiler.adb
  lkql_checker/src/lkql_checker-diagnoses.adb
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-output.adb
  lkql_checker/src/lkql_checker-projects-aggregate.adb
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-rules-rule_table.adb
  lkql_checker/src/lkql_checker-rules.adb
  lkql_checker/src/lkql_checker-source_table.adb
  lkql_checker/src/lkql_checker-source_table.ads
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

minor: Reword the doc for the 'Lkql_Checker.Options' package
  lkql_checker/src/lkql_checker-options.ads
Due: gnatformat

Use GPR2 provided option parser to process switches
  lkql_checker/src/lkql_checker-compiler.adb
  lkql_checker/src/lkql_checker-diagnoses.adb
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-projects.ads
  lkql_checker/src/lkql_checker-rules-rule_table.adb
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

Move nested subprograms outside of the 'Main' procedure
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

Remove useless storage of the aggregated project name
  lkql_checker/src/lkql_checker-compiler.adb
  lkql_checker/src/lkql_checker-diagnoses.adb
  lkql_checker/src/lkql_checker-projects-aggregate.adb
  lkql_checker/src/lkql_checker-projects-aggregate.ads
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

minor: Make some reformat in the 'Main' procedure
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

Remove the 'Initialize_Environment' procedure
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-projects.ads
  lkql_checker/src/lkql_checker.adb
Due: gnatformat

minor: Fix some typos
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-projects.ads
Due: gnatformat

Update pattern lowering in lkt frontend
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
Due: maven-spotless

Makefile: decorrelate Python distribs for e3 and Langkit
  Makefile
Due: none

Forward all GPR switches when spawning a worker
  lkql_checker/src/lkql_checker-compiler.adb
Due: gnatformat

Update docs
  user_manual/source/language_reference.rst
Due: none

Add detector for KP 20330
  lkql_checker/share/lkql/kp/kp_20330.lkql
  testsuite/tests/checks/KP-20330/prj.gpr
  testsuite/tests/checks/KP-20330/test.adb
  testsuite/tests/checks/KP-20330/test.out
  testsuite/tests/checks/KP-20330/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Avoid crashes when 'gprbuild' return an empty target list
  lkql_checker/src/lkql_checker-compiler.adb
Due: gnatformat

Process help and version flags before GPR file
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker.adb
  testsuite/tests/gnatcheck/help/prj.gpr
  testsuite/tests/gnatcheck/help/test.out
  testsuite/tests/gnatcheck/help/test.yaml
  testsuite/tests/gnatcheck/version/prj.gpr
  testsuite/tests/gnatcheck/version/test.out
Due: gnatformat

minor: Remove trailing space in help message
  lkql_checker/src/lkql_checker-output.adb
Due: gnatformat
