Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

.pre-commit-config.yaml:

repos:
  - repo: local
    hooks:
      - id: gnatformat
        name: Format GNATcheck sources
        entry: gnatformat
        language: system
        files: "^lkql_checker/src/.*\\.ad(b|s)$"
  - repo: local
    hooks:
      - id: maven-spotless
        name: Format LKQL JIT sources
        entry: python
        args:
          - utils/maven_wrapper.py
          - spotless:apply
        language: system
        pass_filenames: false
        require_serial: true
        files: "^lkql_jit/.*\\.java$"

add DynamicAdaNode to the type system
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLTypeSystem.java
Due: maven-spotless

fix resolution pass
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/ResolutionPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/DynamicConstructorCall.java
Due: maven-spotless

rework dynamic nodes implementation
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/DynamicConstructorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/AdaNodeProxy.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/DynamicAdaNode.java
Due: maven-spotless

delete unneeded context argument for rewriting passes
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/Constants.java
Due: maven-spotless

Add support for class hierarchy
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/Hierarchy.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/PassExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RunPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/DynamicNodeKindPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/ExtendedNodePattern.java
Due: maven-spotless

before MR
  lkql/build/railroad-diagrams/class_decl.svg
  lkql/build/railroad-diagrams/class_field.svg
  lkql/build/railroad-diagrams/decl.svg
  lkql/build/railroad-diagrams/main_rule.svg
  lkql/build/railroad-diagrams/pass_add_block.svg
  lkql/build/railroad-diagrams/pass_decl.svg
  lkql/build/railroad-diagrams/pass_del_block.svg
  lkql/build/railroad-diagrams/pass_rewrite_block.svg
  lkql/build/railroad-diagrams/prefix_field.svg
  lkql/build/railroad-diagrams/prefix_field_decl.svg
  lkql/build/railroad-diagrams/run_pass.svg
  lkql/lkql.lkt
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLMain.java
  lkql_jit/cli/src/main/java/com/adacore/lkql_jit/cli/LKQLPasses.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLLanguage.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/FramingPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/PassContext.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/ResolutionPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/FunctionDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/DynamicConstructorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/AddBlock.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/ClassDecl.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/DelBlock.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/PassExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/PrefixField.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RewriteBlock.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RunPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/SelectorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/DynamicNodeKindPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternDetail.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternField.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternSelector.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/AdaNodeProxy.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/DynamicAdaNode.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/Constants.java
Due: maven-spotless

address some MR comments and add doc
  lkql/lkql.lkt
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/Hierarchy.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/PassContext.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/DynamicConstructorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/AddBlock.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/ClassDecl.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/DelBlock.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/PassExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/PrefixField.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RewriteBlock.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RunPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/DynamicNodeKindPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/DynamicAdaNode.java
Due: maven-spotless

lower to `DynamicNodeKindPattern` during translation pass if inside of nanopass
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
Due: maven-spotless

change pass execution model
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/PassExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RewriteBlock.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RunPass.java
Due: maven-spotless

add tests for nanopass framework
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RunPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/AdaNodeProxy.java
  testsuite/drivers/base_driver.py
  testsuite/drivers/interpreter_driver.py
  testsuite/drivers/nanopass_driver.py
  testsuite/tests/nanopass/multiple_passes/script.lkql
  testsuite/tests/nanopass/multiple_passes/test.out
  testsuite/tests/nanopass/multiple_passes/test.yaml
  testsuite/tests/nanopass/property_call/main.adb
  testsuite/tests/nanopass/property_call/script.lkql
  testsuite/tests/nanopass/property_call/test.out
  testsuite/tests/nanopass/property_call/test.yaml
  testsuite/tests/nanopass/simple_rewrite/script.lkql
  testsuite/tests/nanopass/simple_rewrite/test.out
  testsuite/tests/nanopass/simple_rewrite/test.yaml
  testsuite/testsuite.py
Due: maven-spotless

resolve merge conflict
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/Hierarchy.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/DynamicConstructorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/PassExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RunPass.java
Due: maven-spotless

fix native image compilation
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/Hierarchy.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/ClassDecl.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/PassExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RunPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/AdaNodeProxy.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/DynamicAdaNode.java
Due: maven-spotless

GNATcheck: spawn worker with the default GPR project file
  lkql_checker/src/gnatcheck-compiler.adb
  testsuite/tests/gnatcheck/config_pragmas/prj.gpr
  testsuite/tests/gnatcheck/config_pragmas/project/prj.gpr
  testsuite/tests/gnatcheck/config_pragmas/test.yaml
  testsuite/tests/gnatcheck/implicit_project_spawn/p.gpr
  testsuite/tests/gnatcheck/implicit_project_spawn/src/main.adb
  testsuite/tests/gnatcheck/implicit_project_spawn/test.out
  testsuite/tests/gnatcheck/implicit_project_spawn/test.yaml
Due: gnatformat

Move all LKQL JIT modules in the 'com.adacore.lkql_jit' group
  lkql_jit/benchmarks/pom.xml
  lkql_jit/builtins_annotations/pom.xml
  lkql_jit/cli/pom.xml
  lkql_jit/language/pom.xml
  lkql_jit/options/pom.xml
  lkql_jit/pom.xml
  lkql_jit/standalone/pom.xml
Due: none

base_driver.py: add output refiners to canonicalize target names
  testsuite/drivers/base_driver.py
  testsuite/tests/gnatcheck/implicit_project_spawn/test.out
  testsuite/tests/gnatcheck/implicit_project_spawn/test.yaml
Due: none

Make wrong_runtime test target independent
  testsuite/tests/gnatcheck_errors/wrong_runtime/linux/test.yaml
  testsuite/tests/gnatcheck_errors/wrong_runtime/main.adb
  testsuite/tests/gnatcheck_errors/wrong_runtime/prj.gpr
  testsuite/tests/gnatcheck_errors/wrong_runtime/test.out
  testsuite/tests/gnatcheck_errors/wrong_runtime/test.yaml
  testsuite/tests/gnatcheck_errors/wrong_runtime/windows/main.adb
  testsuite/tests/gnatcheck_errors/wrong_runtime/windows/prj.gpr
  testsuite/tests/gnatcheck_errors/wrong_runtime/windows/test.out
  testsuite/tests/gnatcheck_errors/wrong_runtime/windows/test.yaml
Due: none

Migrate the '-rules' section to Opt_Parse
  lkql_checker/src/gnatcheck-diagnoses.adb
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck_main.adb
Due: gnatformat

Remove usage of GNAT.Command_Line to parse arguments
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-projects.ads
  lkql_checker/src/gnatcheck-source_table.ads
Due: gnatformat

Migrate the '-cargs' section to Opt_Parse
  lkql_checker/src/gnatcheck-compiler.adb
  lkql_checker/src/gnatcheck-options.adb
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-projects.ads
Due: gnatformat

testsuite gnatcheck driver: move worker canonicalization to output refiners
  testsuite/drivers/gnatcheck_driver.py
Due: none

Apply black formatter to testsuite drivers
  testsuite/drivers/base_driver.py
  testsuite/drivers/benchmarks_driver.py
  testsuite/drivers/checker_driver.py
  testsuite/drivers/gnatcheck_driver.py
  testsuite/drivers/interpreter_driver.py
  testsuite/drivers/parser_driver.py
  testsuite/drivers/refactor_driver.py
Due: none

gnatcheck test driver: fix worker refiner
  testsuite/drivers/gnatcheck_driver.py
Due: none

Raising_External_Exceptions: do not flag internally caught exceptions
  lkql_checker/share/lkql/raising_external_exceptions.lkql
  testsuite/tests/checks/raise_external/test.adb
  testsuite/tests/checks/raise_external/test.ads
  testsuite/tests/checks/raise_external/test.out
Due: none

Fix: Formatting error in doc
  lkql/lkql.lkt
Due: none

Move output refiners from 'gnatcheck_driver.py' to 'base_driver.py'
  testsuite/drivers/base_driver.py
  testsuite/tests/gnatcheck/lkql_rules_config/combine_rule_files/test.out
  testsuite/tests/gnatcheck_errors/missing_source_dirs/linux/test.out
  testsuite/tests/gnatcheck_errors/missing_source_dirs/windows/test.out
  testsuite/tests/interpreter_errors/ambiguous_import/test.out
Due: none

Output the full searching path when cannot find an LKQL rule file
  lkql_checker/src/gnatcheck-rules-rule_table.adb
  testsuite/tests/gnatcheck_errors/invalid_lkql_rules_config/test.out
Due: gnatformat

Change the way provided LKQL rule files are resolved
  lkql_checker/doc/gnatcheck_rm/using_gnatcheck.rst
  lkql_checker/src/gnatcheck-options.ads
  lkql_checker/src/gnatcheck-projects.adb
  lkql_checker/src/gnatcheck-projects.ads
  lkql_checker/src/gnatcheck-rules-rule_table.adb
  lkql_checker/src/gnatcheck_main.adb
  testsuite/tests/gnatcheck/lkql_rule_file_resolution/prj/main.adb
  testsuite/tests/gnatcheck/lkql_rule_file_resolution/prj/prj_rules.lkql
  testsuite/tests/gnatcheck/lkql_rule_file_resolution/prj/with_invalid.gpr
  testsuite/tests/gnatcheck/lkql_rule_file_resolution/prj/with_valid.gpr
  testsuite/tests/gnatcheck/lkql_rule_file_resolution/prj/without.gpr
  testsuite/tests/gnatcheck/lkql_rule_file_resolution/rules.lkql
  testsuite/tests/gnatcheck/lkql_rule_file_resolution/test.out
  testsuite/tests/gnatcheck/lkql_rule_file_resolution/test.yaml
  testsuite/tests/gnatcheck_errors/invalid_lkql_rules_config/test.out
  testsuite/tests/gnatcheck_errors/invalid_lkql_rules_config/test.yaml
Due: gnatformat

gnatcheck_driver.py: Remove a forgotten debug print
  testsuite/drivers/gnatcheck_driver.py
Due: none

kp_t805_037.lkql: Reformat the file
  lkql_checker/share/lkql/kp/kp_t805_037.lkql
Due: none

kp_t805_037.lkql: Remove unused bindings
  lkql_checker/share/lkql/kp/kp_t805_037.lkql
Due: none

kp_t805_037.lkql: Correct syntax error
  lkql_checker/share/lkql/kp/kp_t805_037.lkql
Due: none

stdlib.lkql: Correct a syntax error
  lkql_checker/share/lkql/stdlib.lkql
Due: none

kp_va18_003.lkql: Reformat the file
  lkql_checker/share/lkql/kp/kp_va18_003.lkql
Due: none

kp_va18_003.lkql: Fix syntax errors
  lkql_checker/share/lkql/kp/kp_va18_003.lkql
Due: none

lkql_checker: rename Wait_Gnatcheck to Wait_Lkql_Checker
  lkql_checker/src/main.adb
Due: gnatformat

lkql_checker: rename Print_Gnatcheck_Usage to Print_Usage
  lkql_checker/src/lkql_checker-output.adb
  lkql_checker/src/lkql_checker-output.ads
  lkql_checker/src/main.adb
Due: gnatformat

lkql_checker: rename Gnatcheck_Config_File to Checker_Config_File
  lkql_checker/src/lkql_checker-compiler.adb
  lkql_checker/src/lkql_checker-compiler.ads
  lkql_checker/src/lkql_checker-projects.adb
Due: gnatformat

lkql_checker: rename Print_Gnatcheck_Command_Line to Print_Command_Line
  lkql_checker/src/lkql_checker-diagnoses.adb
Due: gnatformat

lkql_checker: rename Gnatcheck_Version to Lkql_Checker_Version
  lkql_checker/doc/share/conf.py
  lkql_checker/src/lkql_checker-options.ads
Due: gnatformat

lkql_checker: rename Spawn_Gnatcheck_Worker to Spawn_Checker_Worker
  lkql_checker/src/lkql_checker-compiler.adb
  lkql_checker/src/lkql_checker-compiler.ads
  lkql_checker/src/main.adb
Due: gnatformat
