Repository AdaCore/langkit-query-language: changes, and which pre-commit hooks are due for each by the changed paths.
All: gnatformat, maven-spotless

gnatformat:
  name: Format GNATcheck sources
  entry: gnatformat
  language: system

maven-spotless:
  name: Format LKQL JIT sources
  entry: python
  args:
  - utils/maven_wrapper.py
  - spotless:apply
  language: system
  pass_filenames: false
  require_serial: true

Rework 'LKQLRuntimeException' constructors to also take the cause
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLLanguage.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/built_ins/NodeCheckerFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/exception/LKQLRuntimeException.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/BaseTranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/FramingPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/ResolutionPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/CheckerExport.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/DynamicConstructorCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/ReflectionUtils.java
Due: maven-spotless

minor: Make 'MEMBERS' static in the 'LKQLPattern' class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLPattern.java
Due: maven-spotless

minor: Use a lambda in the 'getCallLocation' method
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInBody.java
Due: maven-spotless

Remove 'getLanguage' interop messages
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/bases/BasicLKQLValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/bases/ObjectLKQLValue.java
Due: maven-spotless

minor: Always use the 'fromMessage' method to create new 'LKQLRuntimeException' instances
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/exception/LKQLRuntimeException.java
Due: maven-spotless

minor: Remove 'closureDescriptor' from FunExpr
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
Due: maven-spotless

Remove all references to LKQL language in the 'LKQLPattern' value class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/RegexPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLPattern.java
Due: maven-spotless

Remove all references to the Truffle tree in the 'LKQLSelector' value class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLSelector.java
Due: maven-spotless

Remove the now useless 'ArrayLKQLValue' class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLTuple.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/bases/ArrayLKQLValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/BaseLKQLList.java
Due: maven-spotless

Remove all references to the 'LKQLRuntimeException' class in the 'LKQLProperty' value class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/exception/utils/UnsupportedTypeException.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/patterns/node_patterns/NodePatternProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/LKQLTypesHelper.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/functions/ReflectionUtils.java
Due: maven-spotless

Remove all references to the Truffle tree in the 'LKQLListComprehension' value class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/dispatchers/ListComprehensionDispatcher.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLListComprehension.java
Due: maven-spotless

Remove all references to the Truffle tree in the 'LKQLSelectorList' value class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/dispatchers/SelectorDispatcher.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLSelectorList.java
Due: maven-spotless

minor: Remove useless imports in 'LKQLNamespace' and 'LKQLObject'
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLNamespace.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLObject.java
Due: maven-spotless

Remove all references to the Truffle tree in the 'LKQLFunction' class
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctionValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/BaseChecker.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/built_ins/NodeCheckerFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/checker/built_ins/UnitCheckerFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/declarations/FunctionDeclaration.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunCall.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/FunExpr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/pass/RunPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLFunction.java
Due: maven-spotless

minor: Correct a small typo
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLSelectorList.java
Due: maven-spotless

Remove 'isIdenticalOrUndefined' usages
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/BinEq.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLDepthValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLNamespace.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLNull.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLObject.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLPattern.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLProperty.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLRecValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLSelector.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLTuple.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLUnit.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/bases/BasicLKQLValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/bases/ObjectLKQLValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/iterators/LKQLListIterator.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/BaseLKQLList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLLazyList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLSelectorList.java
Due: maven-spotless

Remove the 'LKQLValue' interface
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLTypeSystem.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/built_ins/BuiltInFunctions.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Expr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLFunction.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLNamespace.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLNull.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLSelector.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/bases/BasicLKQLValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/bases/ObjectLKQLValue.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/interfaces/LKQLValue.java
Due: maven-spotless

Remove the 'InvalidIndexException' class and replace all usages by 'IndexOutOfBounds'
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/exception/utils/InvalidIndexException.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Indexing.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/ListStorage.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/LKQLTuple.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/interfaces/Indexable.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/iterators/BaseLKQLListIterator.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/BaseLKQLList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLLazyList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLSelectorList.java
Due: maven-spotless

Remove the 'BinNeq' node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/TranslationPass.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/BinNeq.java
Due: maven-spotless

GNATkp: fix KP-19501 after KP description update
  lkql_checker/share/lkql/kp/kp_19501.lkql
  testsuite/tests/checks/KP-19501/main.adb
  testsuite/tests/checks/KP-19501/main95.adb
  testsuite/tests/checks/KP-19501/test.adb
  testsuite/tests/checks/KP-19501/test.out
Due: none

one_construct_per_line: Simplify matching logic
  lkql_checker/share/lkql/one_construct_per_line.lkql
Due: none

one_construct_per_line: Add support for component clauses
  lkql_checker/share/lkql/one_construct_per_line.lkql
  testsuite/tests/checks/one_construct_per_line/line.adb
  testsuite/tests/checks/one_construct_per_line/test.out
Due: none

one_construct_per_line: Add support for with/use clauses and pragmas
  lkql_checker/doc/generated/predefined_rules.rst
  lkql_checker/share/lkql/one_construct_per_line.lkql
  testsuite/tests/checks/one_construct_per_line/line.adb
  testsuite/tests/checks/one_construct_per_line/test.out
Due: none

lkql_jit: remove useless call to `setConfigPragmasMapping`
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLContext.java
Due: maven-spotless

Add detector for KP 20227
  lkql_checker/share/lkql/kp/kp_20227.lkql
  testsuite/tests/checks/KP-20227/main.adb
  testsuite/tests/checks/KP-20227/prj.gpr
  testsuite/tests/checks/KP-20227/test.out
  testsuite/tests/checks/KP-20227/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
Due: none

Systematically test Lkt translation
  testsuite/drivers/interpreter_driver.py
  testsuite/tests/interpreter_errors/eq_different_kinds/test.yaml
  testsuite/tests/miscellaneous/string_casing/test.yaml
  testsuite/tests/miscellaneous/tab_in_source/test.yaml
  testsuite/tests/miscellaneous/to_lower_case/test.yaml
  testsuite/tests/miscellaneous/units/test.yaml
Due: none

Add detector for KP 20229
  lkql_checker/share/lkql/kp/kp_20229.lkql
  testsuite/tests/checks/KP-20229/main.adb
  testsuite/tests/checks/KP-20229/prj.gpr
  testsuite/tests/checks/KP-20229/test.out
  testsuite/tests/checks/KP-20229/test.yaml
  testsuite/tests/gnatcheck/xml_help/test.out
  user_manual/generated/std.rst
Due: none

Remove the gnatkp detector issue template
  .gitlab/issue_templates/gnatkp_detector.md
Due: none

Ensure the ADC file path is normalized
  lkql_checker/src/lkql_checker-projects.adb
Due: gnatformat

Fix polyglot engine cache directory location
  lkql_jit/standalone/make_native.py
Due: none

lkql_checker: remove useless references to gnatkp
  lkql_checker/src/lkql_checker-diagnoses.adb
  lkql_checker/src/lkql_checker-output.ads
Due: gnatformat

lkql_checker: base executable name on Lkql_Checker_Mode
  lkql_checker/src/lkql_checker-diagnoses.adb
  lkql_checker/src/lkql_checker-options.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-output.adb
  lkql_checker/src/lkql_checker-projects-aggregate.adb
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-rules-rule_table.adb
  lkql_checker/src/lkql_checker.ads
  lkql_checker/src/main.adb
Due: gnatformat

lkql_checker: move main into lkql_checker package.
  lkql_checker/src/gnatcheck.adb
  lkql_checker/src/gnatkp.adb
  lkql_checker/src/lkql_checker.adb
  lkql_checker/src/lkql_checker.ads
  lkql_checker/src/main.adb
  lkql_checker/src/main.ads
Due: gnatformat

lkql_checker: make gnatcheck and gnatkp separate objects
  lkql_checker/lkql_checker.gpr
  lkql_checker/src/gnatcheck.adb
  lkql_checker/src/gnatcheck.ads
  lkql_checker/src/gnatkp.adb
  lkql_checker/src/gnatkp.ads
  lkql_checker/src/lkql_checker-diagnoses.adb
  lkql_checker/src/lkql_checker-options.ads
  lkql_checker/src/lkql_checker-output.adb
  lkql_checker/src/lkql_checker-projects.adb
  lkql_checker/src/lkql_checker-rules-rule_table.adb
  lkql_checker/src/lkql_checker.adb
  lkql_checker/src/lkql_checker.ads
  lkql_checker/src/main.adb
  lkql_checker/src/main.ads
Due: gnatformat

Fix: Rewriting tests was broken by previous changes
  testsuite/drivers/interpreter_driver.py
Due: none

minor: Remove a useless parameter in 'BaseLKQLLazyList.toDisplayString'
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLLazyList.java
Due: maven-spotless

minor: Remove the useless method 'BaseRootNode.getRealCallTarget'
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/root_nodes/BaseRootNode.java
Due: maven-spotless

Rework the 'BaseLKQLLazyList' interface
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/BaseLKQLLazyList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLSelectorList.java
Due: maven-spotless

Rename 'LKQLLazyList' into 'BaseLKQLLazyList'
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/LKQLTypeSystem.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/Expr.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/list_comprehension/ListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/nodes/expressions/operators/BinEq.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/BaseLKQLLazyList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLListComprehension.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/runtime/values/lists/LKQLSelectorList.java
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/utils/LKQLTypesHelper.java
Due: maven-spotless

Add lowering for the 'ParenExpr' Lkt node
  lkql_jit/language/src/main/java/com/adacore/lkql_jit/langkit_translator/passes/LktPasses.java
  testsuite/tests/interpreter/no_overflow/test.yaml
Due: maven-spotless

Path conditions:
  gnatformat: any of: ^lkql_checker/src/.*\.ad(b|s)$
  maven-spotless: any of: ^lkql_jit/.*\.java$
